@charset "utf-8";
/* popup */
.poparea { border:1px solid #b1b1b1; background-color:#ffffff; padding:5px 5px 5px 5px; margin:0; position:absolute; font:12px "dotum","arial"; color:#454545; }
.poparea .txt { float:left; color:#454545; line-height:16px; }

/* list */
.editorPopArea  { float:left; width:100%; padding:0; margin:0; }
.editorPopArea { width:100%; background:#c5c5c5; color:#454545; }
.editorPopArea tr { background:#ffffff; }
.editorPopArea .head_lt { height:22px; background:#eeecec; line-height:17px; padding:2px 0 0 4px; }
.editorPopArea .bg { height:22px; background:#ffffff; padding:1px 0 1px 3px; }
.editorPopArea input { height:14px; font:11px "dotum"; color:#454545; padding:2px 2px 0 2px; border:1px solid #c5c5c5; }

/* btn */
.poparea .btnarea { float:right; line-height:normal; height:20px; }
.poparea .btnarea ul { list-style:none; padding:0; margin:0; }
.poparea .btnarea li { display:inline; padding:0; margin:0; }
.btnw, .btnw span, .btnw input { position:relative; color:#454545; display:inline-block; white-space:nowrap; overflow:visible; margin:0; }
.btnw { cursor:pointer; } span.btnw { cursor:default; }
.white { background:url('btn.png') no-repeat left -146px; font-size:11px; margin:0 10px 0 0; }
.white span, .white input { left:10px; height:15px; padding:5px 6px 0 0; background:url("btn.png") no-repeat right -146px; }

.btng, .btng span, .btng input { position:relative; color:#454545; display:inline-block; white-space:nowrap; overflow:visible; margin:0; }
.btng { cursor:pointer; } span.btng { cursor:default; }
.gray { background:url('btn.png') no-repeat left -104px; font-size:11px; margin:0 10px 0 0; }
.gray span, .gray input { left:10px; height:15px; padding:5px 6px 0 0; background:url("btn.png") no-repeat right -104px; }

/* width blank */
.blankw { clear:both; height:5px; }
.width3 { width:3px; }
