@charset "utf-8";

.orange-page {
    visibility: visible; left: 0px;
}

.pg-moveFromRightFade {
	-webkit-animation: moveFromRightFade 0.5s ease both;
	animation: moveFromRightFade 0.5s ease both;
}
@-webkit-keyframes moveFromRightFade {
	from { opacity: 0.5; -webkit-transform: translateX(100%); }
}
@keyframes moveFromRightFade {
	from { opacity: 0.5; -webkit-transform: translateX(100%); transform: translateX(100%); }
}

.pg-moveToLeftFade {
	-webkit-animation: moveToLeftFade 0.5s ease both;
	animation: moveToLeftFade 0.5s ease both;
}
@-webkit-keyframes moveToLeftFade {
	from { }
	to { opacity: 0.5; -webkit-transform: translateX(-100%); }
}
@keyframes moveToLeftFade {
	from { }
	to { opacity: 0.5; -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

.pg-moveFromLeftFade {
	-webkit-animation: moveFromLeftFade 0.5s ease both;
	animation: moveFromLeftFade 0.5s ease both;
}
@-webkit-keyframes moveFromLeftFade {
	from { opacity: 0.5; -webkit-transform: translateX(-100%); }
}
@keyframes moveFromLeftFade {
	from { opacity: 0.5; -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

.pg-moveToRightFade {
	-webkit-animation: moveToRightFade 0.5s ease both;
	animation: moveToRightFade 0.5s ease both;
}
@-webkit-keyframes moveToRightFade {
	from { }
	to { opacity: 0.5; -webkit-transform: translateX(100%); }
}
@keyframes moveToRightFade {
	from { }
	to { opacity: 0.5; -webkit-transform: translateX(100%); transform: translateX(100%); }
}

.menu-moveToLeft {
	-webkit-animation: moveToLeft 0.3s ease both;
	animation: moveToLeft 0.3s ease both;
}
@-webkit-keyframes moveToLeft {
	from { }
	to { -webkit-transform: translateX(-100%); }
}
@keyframes moveToLeft {
	from { }
	to { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

.menu-moveFromLeft {
	-webkit-animation: moveFromLeft 0.3s ease both;
	animation: moveFromLeft 0.3s ease both;
}
@-webkit-keyframes moveFromLeft {
	from { -webkit-transform: translateX(-100%); }
}
@keyframes moveFromLeft {
	from { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

.more-fadeIn {
	-webkit-animation: fadeIn .7s ease both;
	animation: fadeIn .7s ease both;
}
@-webkit-keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}
@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

.more-fadeOut {
	-webkit-animation: fadeOut .7s ease both;
	animation: fadeOut .7s ease both;
}
@-webkit-keyframes fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}
@keyframes fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}

.popup-moveFromBottom {
	-webkit-animation: moveFromBottom 0.5s ease both;
	animation: moveFromBottom 0.5s ease both;
}
@-webkit-keyframes moveFromBottom {
	from { -webkit-transform: translateY(100%); }
}
@keyframes moveFromBottom {
	from { -webkit-transform: translateY(100%); transform: translateY(100%); }
}