
/*----------------------------[      list     ]------------------------- */

/* list */
.listarea { background:#fff; padding:0 5px 0 5px; }
.listarea article { float:left; width:100%; }
.listdiv,.listdiv2d,.listdiv_nodata,.listdiv_fixed,.listdiv_fixedmail,.listdivline { position:relative; top:0; bottom:0; border-radius:5px; }
.listdiv,.listdiv2d,.listdiv_nodata,.listdiv_fixed,.listdiv_fixedmail,.listdivline { border:1px solid #d4d4d4; background:#fff; }
.listdiv,.listdiv2d,.listdiv_nodata,.listdiv_fixed,.listdiv_fixedmail,.listdivline { margin:5px 0 0 0; }
.listdiv,.listdiv_fixed,.listdivline { padding:16px 0 10px 0; }
.listdiv,.listdiv_nodata,.listdiv_fixed,.listdivline { height:100%; } 
.listdiv,.listdiv_nodata,.listdivline { cursor:pointer; }
.listdiv_nodata { background:#f7f7f7; padding:35px 0 35px 0; }
.listdivline { border:1px solid #1198ac; background:#fff; }
.listdiv2d { height:70px; }
.listreplyarea { float:left; width:100%; margin:0 0 -6px 0; }
.listreplyarea .line { border-bottom:1px solid #d4d4d4; }
.listreply { position:relative; top:0; bottom:0; background:#fff; padding:11px 0 10px 0; height:100%; }
.replytit,.replybody,.replyname { width:96%; word-spacing:0.06em; }
.replytit { font-size:1.14em; color:#000; font-weight:bold; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; padding:0 0 2px 10px; }
.replybody,.replyname { letter-spacing:-0.03em; padding:2px 0 0 10px; }
.replybody { font-size:1.05em; color:#222; }
.replyname { color:#999; }
.reply_btnarea { width:100%; height:25px; margin:0; } 
.reply_btnarea .size { float:right; margin:0 5px 0 0; }
.reply_btnarea .size dd { float:left; height:18px; text-align:center; border:1px solid #d4d4d4; border-radius:3px; margin:0 0 0 5px; cursor:pointer; }
.reply_btnarea .size .btn { font-size:1.05em; background:#fff; padding:5px 8px 0 8px; }
.list { position:relative; top:0; bottom:0; width:100%; }
.list .tit,.list .body { letter-spacing:-0.03em; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; }
.list .tit,.list .body,.list .name { width:96%; word-spacing:0.06em; }
.list .tit { font-size:1.3em; color:#000; padding:0 0 8px 10px; }
.list .body { font-size:1.05em; color:#222; padding:2px 0 0 10px; }
.list .name { color:#999; letter-spacing:-0.08em; padding:0 0 0 10px; }
.list .tit .ctxt1,.ctxt2,.ctxt3,.notice,.new,.good,.best,.excellent { margin:0 3px 0 0; }
.list .tit .regood,.rebest,.reexcellent { margin:0 4px 0 0; }
.list .tit .ctxt1 { color:#d22681; }
.list .tit .ctxt2 { color:#06969b; }
.list .tit .ctxt3 { color:#f68500; }
.list .tit .notice,.new,.recommend,.good,.best,.excellent,.regood,.rebest,.reexcellent,.noticenew { float:left; height:16px; }
.list .tit .notice,.new,.recommend,.good,.best,.excellent { width:17px; }
.list .tit .regood,.rebest,.reexcellent,.noticenew { width:34px; }
.list .tit .notice { background:url("/images/blue/ico_notice.png") no-repeat; background-size:contain; }
.list .tit .new { background:url("/images/blue/ico_new.png") no-repeat; background-size:contain; }
.list .tit .recommend { background:url("/images/blue/ico_recommend.png") no-repeat; background-size:contain; margin:0 1px 0 0; }
.list .tit .good { background:url("/images/blue/ico_good.png") no-repeat; background-size:contain; }
.list .tit .best { background:url("/images/blue/ico_best.png") no-repeat; background-size:contain; }
.list .tit .excellent { background:url("/images/blue/ico_excellent.png") no-repeat; background-size:contain; }
.list .tit .regood { background:url("/images/blue/ico_regood.png") no-repeat; background-size:contain; }
.list .tit .rebest { background:url("/images/blue/ico_rebest.png") no-repeat; background-size:contain; }
.list .tit .reexcellent { background:url("/images/blue/ico_reexcellent.png") no-repeat; background-size:contain; }
.list .tit .noticenew { background:url("/images/blue/ico_noticenew.png") no-repeat; background-size:contain; margin:0 4px 0 0; }
.list .list_textarea { padding:10px 4px 0 4px; }
.list .list_textareain { border:1px solid #d4d4d4; border-radius:3px; padding:0 7px 0 3px; }
.list .list_textareain_disabled { background:#f7f3f7; border:1px solid #d4d4d4; padding:0 7px 0 3px; }
.list .list_ta { width:100%; border:0px solid #fff; margin:3px 0 -2px 0; }
.list .list_ta_disabled { width:100%; background:#f7f3f7; border:0px solid #fff; margin:3px 0 -2px 0; }
.list_fixed { position:relative; top:0; bottom:0; left:37px; width:89%; }
.list_fixed .tit,.list_fixed .body,.list_fixed .name { white-space:nowrap; text-overflow:ellipsis; overflow:hidden; }
.list_fixed .tit,.list_fixed .body { letter-spacing:-0.03em; word-spacing:0.06em; }
.list_fixed .tit { font-size:1.3em; color:#000; padding:0 0 8px 10px;}
.list_fixed .body { font-size:1.05em; color:#222; padding:2px 0 0 10px; }
.list_fixed .name { color:#999; letter-spacing:-0.08em; padding:0 0 0 10px; }
.list_mailtxt { position:relative; left:37px; padding:8px 0 8px 0; margin:0 78px 0 0; cursor:pointer; }
.list_mailtxt .name,.name_new,.name_attach,.name_new_attach,.name_lock,.name_new_lock,.name_atlock,.name_new_atlock,.list_mailtxt .tit,.tit_new { font-size:1.2em; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; margin:0 0 0 4px; }
.list_mailtxt .name,.name_attach,.name_lock,.name_atlock,.list_mailtxt .tit,.list_mailico .time { color:#222; }
.list_mailtxt .name_new,.name_new_attach,.name_new_lock,.name_new_atlock,.tit_new,.list_mailico .time_new { color:#06969b; }
.list_mailtxt .name,.name_new,.name_attach,.name_new_attach,.name_lock,.name_new_lock,.name_atlock,.name_new_atlock,.list_mailtxt .tit { height:17px; }
.list_mailtxt .name,.name_new { padding:1px 0 0 0; }
.list_mailtxt .name_attach,.name_new_attach { padding:1px 0 0 19px; background:url("/images/blue/ico_attach_m.png") no-repeat; background-size:contain; }
.list_mailtxt .name_lock,.name_new_lock { padding:1px 0 0 17px; background:url("/images/blue/ico_lock.png") no-repeat; background-size:contain; }
.list_mailtxt .name_atlock,.name_new_atlock { padding:1px 0 0 35px; background:url("/images/blue/ico_atlock.png") no-repeat; background-size:contain; }
.list_mailtxt .tit,.tit_new { padding:6px 0 0 0; }
.list_mailico { position:absolute; top:0; right:0; width:40px; padding:8px 0 0 0; }
.list_mailico .time,.time_new { font-size:1.1em; text-align:right; padding:1px 5px 0 0; }
.list_mailico .bookmark,.bookmark_y,.bookmark_r { position:absolute; right:0; width:40px; height:36px; margin:-5px 0 0 0; }
.list_mailico .bookmark { background:url("/images/blue/ico_bookmark_g.png") no-repeat; background-size:contain; cursor:pointer; }
.list_mailico .bookmark_y { background:url("/images/blue/ico_bookmark_y.png") no-repeat; background-size:contain; cursor:pointer; }
.list_mailico .bookmark_r { background:url("/images/blue/ico_bookmark_r.png") no-repeat; background-size:contain; cursor:pointer; }
.list_mailtxt2 { position:relative; left:37px; padding:8px 0 8px 0; margin:0 100px 0 0; cursor:pointer; }
.list_mailtxt2 .name,.name_new,.name_attach,.name_new_attach,.name_lock,.name_new_lock,.name_atlock,.name_new_atlock,.list_mailtxt2 .tit,.tit_new { font-size:1.2em; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; margin:0 0 0 4px; }
.list_mailtxt2 .name span,.name_new span,.name_attach span,.name_new_attach span { font-size:0.9em; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; margin:0 0 0 4px; }
.list_mailtxt2 .name,.name_attach,.name_lock,.name_atlock,.list_mailtxt2 .tit,.list_mailico .time { color:#222; }
.list_mailtxt2 .name_new,.name_new_attach,.name_new_lock,.name_new_atlock,.tit_new,.list_mailico .time_new { color:#06969b; }
.list_mailtxt2 .name,.name_new,.name_attach,.name_new_attach,.name_lock,.name_new_lock,.name_atlock,.name_new_atlock,.list_mailtxt2 .tit { height:17px; }
.list_mailtxt2 .name,.name_new { padding:1px 0 0 0; }
.list_mailtxt2 .name_attach,.name_new_attach { padding:1px 0 0 19px; background:url("/images/blue/ico_attach_m.png") no-repeat; background-size:contain; }
.list_mailtxt2 .name_lock,.name_new_lock { padding:1px 0 0 17px; background:url("/images/blue/ico_lock.png") no-repeat; background-size:contain; }
.list_mailtxt2 .name_atlock,.name_new_atlock { padding:1px 0 0 35px; background:url("/images/blue/ico_atlock.png") no-repeat; background-size:contain; }
.list_mailtxt2 .tit,.tit_new { padding:6px 0 0 0; }
.list_mailico2 { position:absolute; top:0; right:0; width:63px; padding:8px 0 0 0; }
.list_mailico2 .time,.list_mailico2 .time_new { height:23px; font-size:1.1em; text-align:right; padding:1px 5px 0 0; }
.list_mailico2 .read { position:absolute; right:0; font-size:1.2em; color:#222; padding:0 5px 0 0; } 
.list_mailico2 .unread { position:absolute; right:0; font-size:1.2em; color:#06969b; padding:0 5px 0 0; }
.list_mailico2 .btn { font-size:0.95em; color:#fff; text-align:center; border:1px solid #1198ac; background:#1198ac; border-radius:3px; padding:1px 0 0 0; margin:-2px 5px 5px 5px; cursor:pointer; }
.reply_commentarea { position:relative; left:21px; margin:0 26px 0 0; }
.reply_commentareain { position:relative; left:0; }
.list_comment { position:relative; top:0; bottom:0; left:20px; width:92%; }
.list_comment .tit,.body,.name { white-space:nowrap; text-overflow:ellipsis; overflow:hidden; }
.list_comment .tit,.body { letter-spacing:-0.03em; word-spacing:0.06em; }
.list_comment .tit { font-size:1.3em; color:#000; padding:0 0 8px 10px; }
.list_comment .tit .ctxt1,.ctxt2,.ctxt3,.notice,.new,.good,.best,.excellent { margin:0 3px 0 0; }
.list_comment .tit .regood,.rebest,.reexcellent { margin:0 4px 0 0; }
.list_comment .tit .ctxt1 { color:#d22681; }
.list_comment .tit .ctxt2 { color:#06969b; }
.list_comment .tit .ctxt3 { color:#f68500; }
.list_comment .tit .notice,.new,.recommend,.good,.best,.excellent,.regood,.rebest,.reexcellent,.noticenew { float:left; height:16px; }
.list_comment .tit .notice,.new,.recommend,.good,.best,.excellent { width:17px; }
.list_comment .tit .regood,.rebest,.reexcellent,.noticenew { width:34px; }
.list_comment .tit .notice { background:url("/images/blue/ico_notice.png") no-repeat; background-size:contain; }
.list_comment .tit .new { background:url("/images/blue/ico_new.png") no-repeat; background-size:contain; }
.list_comment .tit .recommend { background:url("/images/blue/ico_recommend.png") no-repeat; background-size:contain; margin:0 1px 0 0; }
.list_comment .tit .good { background:url("/images/blue/ico_good.png") no-repeat; background-size:contain; }
.list_comment .tit .best { background:url("/images/blue/ico_best.png") no-repeat; background-size:contain; }
.list_comment .tit .excellent { background:url("/images/blue/ico_excellent.png") no-repeat; background-size:contain; }
.list_comment .tit .regood { background:url("/images/blue/ico_regood.png") no-repeat; background-size:contain; }
.list_comment .tit .rebest { background:url("/images/blue/ico_rebest.png") no-repeat; background-size:contain; }
.list_comment .tit .reexcellent { background:url("/images/blue/ico_reexcellent.png") no-repeat; background-size:contain; }
.list_comment .tit .noticenew { background:url("/images/blue/ico_noticenew.png") no-repeat; background-size:contain; margin:0 4px 0 0; }
.list_comment .body { font-size:1.05em; color:#222; padding:2px 0 0 10px; }
.list_comment .name { color:#999; letter-spacing:-0.08em; padding:0 0 0 10px; }
.list_lt,.list_rt { position:absolute; bottom:0; }
.list_lt { top:0; right:100px; left:0; height:90px; margin:15px 0 10px 0; }
.list_lt dd { width:96%; letter-spacing:-0.03em; word-spacing:0.06em; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; }
.list_lt .tit { font-size:1.3em; color:#000; padding:0 0 0 10px; }
.list_lt .body { font-size:1.05em; color:#222; padding:11px 0 0 10px; }
.list_rt { top:50%; right:0; margin:-20px 0 0 0; } 
.list_rt dd { float:left; width:40px; height:40px; margin:0 5px 5px 0; border:1px solid #d4d4d4; border-radius:5px; cursor:pointer; }
.list_rt .phone { background:url("/images/blue/ico_phone.png") no-repeat; background-size:contain; } 
.list_rt .sms { background:url("/images/blue/ico_sms.png") no-repeat; background-size:contain; }
.listcheckbg,.listcheck,.listcheck .check,.listcheck .check_on,.listcheck .check_disabled,.listcheck .check_disabled_on { position:absolute; }
.listcheckbg,.listcheck { bottom:-1px; width:36px; border:1px solid #d4d4d4; border-top-left-radius:5px; border-bottom-left-radius:5px; }
.listcheckbg { top:-1px; left:-1px; background:#f2f2f8; z-index:1; opacity:0.6; }
.listcheck { top:0; z-index:1; margin:-1px 0 0 -1px; }
.listcheck dd { top:50%; width:26px; height:26px; margin:-13px 0 0 5px; cursor:pointer; }
.listcheck .check { background:url("/images/blue/check.png") no-repeat; background-size:contain; }
.listcheck .check_on { background:url("/images/blue/check_on.png") no-repeat; background-size:contain; }
.listcheck .check_disabled { background:url("/images/blue/checkd.png") no-repeat; background-size:contain; }
.listcheck .check_disabled_on { background:url("/images/blue/checkd_on.png") no-repeat; background-size:contain; }
.listcheck_fixed { position:absolute; top:0; bottom:0; left:0; width:36px; border-right:1px solid #d4d4d4; }
.listcheck_fixed dd { position:absolute; top:50%; width:26px; height:26px; margin:-13px 0 0 5px; cursor:pointer; }
.listcheck_fixed .check { background:url("/images/blue/check.png") no-repeat; background-size:contain; }
.listcheck_fixed .check_on { background:url("/images/blue/check_on.png") no-repeat; background-size:contain; }
.listcheck_fixed .check_disabled { background:url("/images/blue/checkd.png") no-repeat; background-size:contain; }
.listcheck_fixed .check_disabled_on { background:url("/images/blue/checkd_on.png") no-repeat; background-size:contain; }
.listcheck_comment,.listcheck_comment_line { position:absolute; top:0; bottom:0; left:0; width:19px; border-top-left-radius:5px; border-bottom-left-radius:5px; }
.listcheck_comment_line { background:#eff2f4; border-right:1px solid #c2ddde; }
.listcheck_comment { background:#f7f7f7; border-right:1px solid #d4d4d4; }
.listcheck_comment dd,.listcheck_comment_line dd { position:absolute; top:50%; width:17px; height:17px; margin:-9px 0 0 3px; }
.listcheck_comment .comment,.listcheck_comment_line .comment { background:url("/images/blue/comment.png") no-repeat; background-size:contain; }
.list_photoarea { position:relative; right:85px; }
.list_photoareain { position:relative; left:0; margin:0 0 0 85px; }
.list_photo { padding:0; }
.list_photo .tit,.body,.name { white-space:nowrap; text-overflow:ellipsis; overflow:hidden; }
.list_photo .tit,.body { letter-spacing:-0.03em; word-spacing:0.06em; }
.list_photo .tit { font-size:1.3em; color:#000; padding:0 0 8px 10px; }
.list_photo .tit .ctxt1,.ctxt2,.ctxt3,.notice,.new,.good,.best,.excellent { margin:0 3px 0 0; }
.list_photo .tit .regood,.rebest,.reexcellent { margin:0 4px 0 0; }
.list_photo .tit .ctxt1 { color:#d22681; }
.list_photo .tit .ctxt2 { color:#06969b; }
.list_photo .tit .ctxt3 { color:#f68500; }
.list_photo .tit .notice,.new,.recommend,.good,.best,.excellent,.regood,.rebest,.reexcellent,.noticenew { float:left; height:16px; }
.list_photo .tit .notice,.new,.recommend,.good,.best,.excellent { width:17px; }
.list_photo .tit .regood,.rebest,.reexcellent,.noticenew { width:34px; }
.list_photo .tit .notice { background:url("/images/blue/ico_notice.png") no-repeat; background-size:contain; }
.list_photo .tit .new { background:url("/images/blue/ico_new.png") no-repeat; background-size:contain; }
.list_photo .tit .recommend { background:url("/images/blue/ico_recommend.png") no-repeat; background-size:contain; margin:0 1px 0 0; }
.list_photo .tit .good { background:url("/images/blue/ico_good.png") no-repeat; background-size:contain; }
.list_photo .tit .best { background:url("/images/blue/ico_best.png") no-repeat; background-size:contain; }
.list_photo .tit .excellent { background:url("/images/blue/ico_excellent.png") no-repeat; background-size:contain; }
.list_photo .tit .regood { background:url("/images/blue/ico_regood.png") no-repeat; background-size:contain; }
.list_photo .tit .rebest { background:url("/images/blue/ico_rebest.png") no-repeat; background-size:contain; }
.list_photo .tit .reexcellent { background:url("/images/blue/ico_reexcellent.png") no-repeat; background-size:contain; }
.list_photo .tit .noticenew { background:url("/images/blue/ico_noticenew.png") no-repeat; background-size:contain; margin:0 4px 0 0; }
.list_photo .body { font-size:1.05em; color:#222; padding:2px 0 0 10px; }
.list_photo .name { color:#999; letter-spacing:-0.08em; padding:0 0 0 10px; }
.list_photort { position:absolute; top:5px; right:5px; border:1px solid #d4d4d4; }
.list_photort dd { width:73px; height:73px; }
.list_photort .photo { background-size:contain; }
.list_photort .noimg { background:#f7f7f7 url("/images/blue/noimg2.png") no-repeat 3px 0; background-size:contain; }
.nodata { width:100%; color:#222; text-align:center; letter-spacing:-0.03em; word-spacing:0.06em; } 
.reply { padding:7px 5px 0 5px; }
.reply_comment { padding:7px 0 0 4px; }
.replyin { border:1px solid #d4d4d4; border-radius:3px; background:#f7f7f7; padding:5px 3px 3px 5px; }
.replyico { position:absolute; width:13px; height:6px; background:url("/images/blue/ico_reply.png") no-repeat; background-size:contain; margin:-5px 0 -1px 25px; }
.list_btnarea { width:100%; height:25px; margin:12px 0 3px 0; } 
.list_btnarea .size { float:right; margin:0 5px 0 0; }
.list_btnarea .size_comment { float:right; margin:0; }
.list_btnarea .size dd,.size_comment dd { float:left; height:18px; text-align:center; border:1px solid #d4d4d4; border-radius:3px; margin:0 0 4px 5px; cursor:pointer; }
.list_btnarea .size .btn,.btn_next,.btn_prev,.size_comment .btn { font-size:1.05em; background:#fff; }
.list_btnarea .size .btn,.size_comment .btn { padding:5px 8px 0 8px; }
/* list search */
.listsearch { float:left; width:100%; height:32px; padding:6px 0 0 0; }
.open1,.open2,.open3,.open4 { position:absolute; top:30px; }
.open1 { left:0; right:57%; z-index:1; visibility:visible; }
.open2 { left:43%; right:36px; z-index:2; visibility:visible; }
.open3 { left:0; right:59%; z-index:1; visibility:visible; }
.open4 { left:41%; right:70px; z-index:2; visibility:visible; }
.open_in1,.open_in2 { position:absolute; }
.open_in1 { right:2px; left:0; }
.open_in2 { right:0; left:5px; }
.open_div { float:left; width:100%; background:#fff; border:1px solid #d4d4d4; border-bottom-left-radius:5px; border-bottom-right-radius:5px; }
.open_div dd { float:left; font-size:1em; color:#222; }
.open_div .txt,.txt_o { width:97.3%; padding:8px 0 0 5px;  height:23px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; cursor:pointer; }
.open_div .txt_o { color:#ef9800; }
.open_div .line { width:100%; border-bottom:1px dotted #d4d4d4; }
.open_div .txt_dd { float:left; width:100%; height:29px; }
.open_div .txt_lt { position:absolute; left:0; right:27px; height:22px; padding:7px 0 0 5px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; cursor:pointer; }
.open_div .txt_delete { position:absolute; right:-1px; width:27px; height:29px; background:url("/images/blue/ico_delete2.png") no-repeat 0 1px; background-size:contain; cursor:pointer; }
.open_divfr { position:absolute; width:74px; margin:30px 0 0 0; z-index:1; } 
.open_divfr .open_div { float:left; width:100%; height:127px; background:#fff; border:1px solid #d4d4d4; border-bottom-left-radius:5px; border-bottom-right-radius:5px; overflow-x:hidden; overflow-y:auto; }
.open_divfr .open_div::-webkit-scrollbar-button { display:none; }
.open_divfr .open_div dd { float:left; font-size:1em; color:#000; }
.open_divfr .open_div .txt { width:99.5%; height:23px; text-align:center; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; padding:8px 0 0 0; cursor:pointer; }
.open_divfr .open_div .line { width:100%; border-bottom:1px dotted #d4d4d4; }
.listselect,.select1,.select2,.select3,.select4,.searchbtn1,.searchbtn2,.searchbtn3,.listinput,.listinput2,.input_input { position:absolute; }
.select1,.select_in1,.select_in2,.etr_calendarin { background:#fff; }
.listselect { left:5px; right:5px; }
.select1,.select3 { left:0; }
.select1 { right:57%; }
.select2 { left:43%; right:34px; } 
.select3 { right:59%; }
.select4 { left:41%; right:68px; }
.select_in1,.select_in2,.etr_calendarin { height:30px; border:1px solid #d4d4d4; border-radius:3px; }
.select_in1 { cursor:pointer; }
.select_in2 { margin:0 0 0 5px; cursor:pointer; }
.select_txt1,.select_txt2 { position:absolute; top:9px; }
.select_txt1 { left:5px; right:27px; }
.select_txt2 { left:10px; right:29px; }
.select_txt1 span,.select_txt2 span { float:left; width:100%; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; }
.select_btn { float:right; width:27px; height:30px; background:url("/images/blue/search_btn1.png") no-repeat 1px 0; border-left:1px solid #d4d4d4; background-size:contain; }
.listinput,.listinput2 { left:43%; margin:0 0 0 6px; } 
.listinput { right:5px; background:url("/images/blue/search_bg.png"); } 
.listinput2 { right:39px; background:url("/images/blue/search_bg.png"); } 
.input1 { position:absolute; left:0; right:0; height:32px; background:url("/images/blue/search_bg.png"); background-size:contain; }
.input_left { float:left; width:4px; height:32px; background:url("/images/blue/search_left.png") no-repeat; background-size:contain; }
.input_input { top:4px; right:43px; left:4px; }
.input_ip { font-size:1em; width:100%; height:20px; border:0px; }
.input_btn { float:right; right:0px; height:32px; background:#fff; cursor:pointer; }
.input_btn .search { width:27px; height:30px; background:url("/images/blue/search_btn4.png") no-repeat; border:1px solid #d4d4d4; border-top-right-radius:3px; border-bottom-right-radius:3px; background-size:contain; }
.searchbtn1,.searchbtn2 { height:32px; cursor:pointer; }
.searchbtn1 { left:43%; width:29px; background:url("/images/blue/search_btn3.png") no-repeat; background-size:contain; margin:0 0 0 6px; }
.searchbtn2 { right:5px; width:29px; background:url("/images/blue/search_btn3.png") no-repeat; background-size:contain; }
.searchbtn3 { right:34px; }
.searchbtn3 span { float:right; width:29px; height:32px; background:url("/images/blue/search_btn3.png") no-repeat; background-size:contain; cursor:pointer; }
.unfoldbtn,.unfoldbtn_on { position:absolute; right:5px; width:27px; height:30px; border:1px solid #d4d4d4; border-radius:3px; cursor:pointer; }
.unfoldbtn { background:#fff url("/images/blue/btn_open.png") no-repeat 0 2px; background-size:contain; }
.unfoldbtn_on { background:#f0f0f0 url("/images/blue/btn_open.png") no-repeat 0 2px; background-size:contain; }

/*--------------------------[  page navigation ]------------------------ */
/* page navigation */
.pagingarea { float:left; width:100%; margin:30px 0 0 0; overflow:hidden; } 
.paging,.paging dl { position:relative; }
.paging { float:right; left:-50%; height:26px; }
.paging dl { left:50%; }
.paging dd { float:left; width:26px; height:19px; text-align:center; cursor:pointer; }
.paging .number,.paging .number_on { font-size:1.1em; background:#fff; margin:0 2px 0 2px; }
.paging .number { color:#666b74; }
.paging .number_on { color:#109aad; font-weight:bold; }
.paging .setup { background:#f0f0f0 url("/images/blue/paging_setup.png") no-repeat; margin:0 12px 0 0; background-size:contain; }
.paging .prev { background:url("/images/blue/paging_prev.png") no-repeat; margin:0 10px 0 0; background-size:contain; }
.paging .next { background:url("/images/blue/paging_next.png") no-repeat 1px 0; margin:0 0 0 10px; background-size:contain; }
.paging .prev,.paging .next { width:36px; }
.paging .number,.paging .number_on,.paging .prev,.paging .next,.paging .setup { border:1px solid #d4d4d4; border-radius:3px; padding:5px 0 0 0; }