
/*----------------------------[     popup     ]------------------------- */

/* header - unified search */ 
.unified_search { width:100%; height:51px; background:#1198ac; }
.unified_search .back { float:left; width:43px; height:51px; background:url("/images/blue/header_back.png") no-repeat; background-size:contain; cursor:pointer; }
.unified_search .searcharea { position:absolute; right:48px; left:45px; height:51px; background:url("/images/blue/unified_bg.png"); background-size:contain; }
.unified_search .searcharea dl { height:51px; background:url("/images/blue/unified_left.png") 0 100% no-repeat; background-size:contain; margin:0 0 0 -2px; }
.unified_search .unified_inputarea { margin:0 43px 0 2px; }
.unified_search .unified_input { width:100%; height:31px; font-size:1.2em; color:#000; border:1px solid #fff; margin:8px 0 0 3px; }
.unified_search .unified_delete,.unified_search .unified_search { position:absolute; top:0; right:0; height:51px; cursor:pointer; }
.unified_search .unified_delete { width:37px; background:url("/images/blue/unified_delete.png") no-repeat; background-size:contain; }
.unified_search .unified_search { width:48px; background:url("/images/blue/unified_search.png") no-repeat; background-size:contain; }
.unified_tree1,.unified_tree2,.unified_tree3,.unified_treearea,.unified_btn,.unified_btn2,.unified_btn_pop,.unified_btm,.unified_listarea,.unified_listarea2,.unified_listarea_pop,.unified_listarea_pop2,.unified_mail_tree,.unified_mail_list { position:absolute; }
.unified_tree1,.unified_tree2,.unified_tree3,.unified_listarea,.unified_listarea2,.unified_listarea_pop,.unified_listarea_pop2,.unified_mail_tree,.unified_mail_list { right:0; left:0; }
.unified_tree1,.unified_tree2,.unified_listarea,.unified_listarea2 { top:104px; }
.unified_tab { float:left; width:100%; margin:15px 0 0 0; }
.unified_mail_tab { float:left; width:100%; padding:8px 0 0 0; }
.unified_tree1 { bottom:1px; }
.unified_tree2 { bottom:105px; }
.unified_mail_tree { top:139px; bottom:0; }
.unified_mail_list { top:139px; bottom:108px; border-bottom:1px dashed #d4d4d4; overflow-x:auto; overflow-y:scroll; }
.unified_tree3 { top:89px; bottom:40px; }
.unified_treearea { top:5px; bottom:5px; right:5px; left:5px; border:1px solid #d4d4d4; border-radius:3px; overflow:hidden; }
.unified_listarea { bottom:109px; border-bottom:1px dashed #d4d4d4; overflow-x:auto; overflow-y:scroll; }
.unified_listarea2 { bottom:54px; border-bottom:1px dashed #d4d4d4; overflow-x:auto; overflow-y:scroll; }
.unified_listarea_pop { top:0; bottom:52px; border-bottom:1px dashed #d4d4d4; overflow-x:auto; overflow-y:scroll; }
.unified_listarea_pop2 { top:31px; bottom:0; padding:0 0 5px 0; overflow-x:auto; overflow-y:scroll; }
.unified_btn { bottom:71px; right:1px; }
.unified_btn2 { bottom:15px; right:1px; }
.unified_btn_pop { bottom:14px; right:1px; }
.unified_btm { right:5px; bottom:14px; left:5px; background:#f7f7fb; border:1px solid #d4d4d4; border-radius:3px; }
.unified_btmin { width:100%; height:40px; overflow-x:auto; overflow-y:hidden; }
.unified_btmin dl { width:850px; padding:0 4px 0 9px;  }
.unified_btmin dd { float:left; }
.unified_btmin .blank { font:1.05em "Tahoma","gulim","arial"; padding:14px 2px 11px 2px; }
.unified_btmin .txt { font:1.05em "Tahoma","gulim","arial"; padding:10px 8px 7px 8px; margin:4px 0 4px 0; cursor:pointer; }
.unified_btmin .txt_on { font:1.05em "Tahoma","gulim","arial"; color:#fff; background:#1198ac; padding:10px 8px 7px 8px; margin:4px 0 4px 0; border-radius:3px; cursor:pointer; }
.unified_btmin .txt_gon { font:1.05em "Tahoma","gulim","arial"; color:#fff; background:#afb2b7; padding:10px 8px 7px 8px; margin:4px 0 4px 0; border-radius:3px; cursor:pointer; }
.unified_btm .unified_btm_icol,.unified_btm_icor { width:12px; height:40px; position:absolute; }
.unified_btm .unified_btm_icol { left:0; background:#e9e9f4 url("/images/blue/tab_left2.png") no-repeat; border-right:1px solid #d4d4d4; border-top-left-radius:3px; border-bottom-left-radius:3px; background-size:contain; }
.unified_btm .unified_btm_icor { right:0; background:#e9e9f4 url("/images/blue/tab_right2.png") no-repeat; border-left:1px solid #d4d4d4; border-top-right-radius:3px; border-bottom-right-radius:3px; background-size:contain; }
/* popup */ 
.popbackground { position:absolute; top:0; right:0; bottom:0; left:0; background:#456071; filter:alpha(opacity=70); opacity:0.6; }
.popbackground .btn { float:right; width:37px; height:37px; background:url("/images/blue/aside_close.png") no-repeat; margin:-17px 17px 5px 0; background-size:contain; cursor:pointer; }
.popuparea { position:absolute; top:20px; right:20px; bottom:20px; left:18px; }
.popuparea .popup { position:relative; width:100%; height:100%; background:#fff; border:1px solid #4a6173; border-radius:10px; overflow-x:hidden; overflow-y:auto; }
.popuparea_s { position:absolute; top:50%; left:50%; margin:-137px 0 0 -150px; }
.popuparea_s .btn { float:right; width:37px; height:37px; background:url("/images/blue/aside_close.png") no-repeat; margin:0 0 1px 0; background-size:contain; cursor:pointer; }
.popuparea_s .popup { width:300px; height:200px; margin:38px 0 0 0; }
.popuparea_s .popup2 { width:300px; height:207px; margin:38px 0 0 0; }
.popuparea_s .inner,.inner_tit { width:100%; height:100%; }
.popuparea_s .inner,.inner_tit .pd,.popbody_s,.popbody { background:#fff; }
.popuparea_s .inner { border:1px solid #4a6173; border-radius:10px; overflow-x:hidden; overflow-y:auto; }
.popuparea_s .inner_tit .pd { width:100%; height:78%; }
.popuparea_s .inner_tit .pd,.popbody,.popbody_s { border-right:1px solid #4a6173; border-bottom:1px solid #4a6173; border-left:1px solid #4a6173; border-bottom-left-radius:10px; border-bottom-right-radius:10px; overflow-x:hidden; overflow-y:auto; }
/* popup calendar */ 
.popbackground_cld { position:absolute; width:100%; height:100%; overflow-x:hidden; overflow-y:auto; }
.popuparea_cld { position:absolute; top:28%; left:50%; height:347px; margin:-55px 0 0 -150px; }
.popuparea_cld .popup { width:300px; height:347px; }
.popuparea_cld .inner { width:100%; height:100%; background:#fff; border:1px solid #4a6173; border-radius:10px; }
/* popup_s */ 
.popuparea_s2 { position:absolute; top:50%; left:50%; margin:-140px 0 0 -150px; }
.popuparea_s2 .btn { float:right; width:37px; height:37px; background:url("/images/blue/aside_close.png") no-repeat; margin:0 0 1px 0; background-size:contain; cursor:pointer; }
.popuparea_s2 .popup { width:300px; height:223px; margin:38px 0 0 0; }
.popuparea_s2 .inner { width:100%; height:100%; background:#fff; border:1px solid #4a6173; border-radius:10px; overflow-x:hidden; overflow-y:auto; }
.pop_radio { float:left; width:100%; }
.pop_radio .txt { float:left; width:100%; font-size:1.6em; padding:6px 0 0 0; }
.pop_radio .line { float:left; width:100%; border-bottom:1px solid #d4d4d4; }
.pop_radio dl { float:left; width:100%; cursor:pointer; }
.sradio,.sradio_on,.sradio_disabled,.sradio_disabled_on { position:relative; left:0; right:2px; height:26px; margin:8px 0 8px 8px; padding:0 2px 0 33px; }
.sradio { background:url("/images/blue/radio.png") no-repeat; background-size:contain; }
.sradio_on { background:url("/images/blue/radio_on.png") no-repeat; background-size:contain; }
.sradio_disabled { background:url("/images/blue/radiod.png") no-repeat; background-size:contain; }
.sradio_disabled_on { background:url("/images/blue/radiod_on.png") no-repeat; background-size:contain; }
.sradio span,.sradio_on span,.sradio_disabled span,.sradio_disabled_on span { float:left; width:100%; font-size:1.25em; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; padding:5px 0 0 0; }
.popbody { position:absolute; width:100%; top:45px; right:0; bottom:0; left:0; }
.popbody_s,.poptit { float:left; width:100%; }
.poptit { height:43px; background:#109aad; border:1px solid #4a6173; border-top-left-radius:10px; border-top-right-radius:10px; }
.poptit .tit,.poptit .tit_ct,.poptit .close { position:absolute; }
.poptit .tit,.poptit .tit_ct { left:0; right:35px; height:29px; font-size:1.4em; color:#fff; font-weight:bold; }
.poptit .tit { padding:14px 0 0 12px; }
.poptit .tit_ct { text-align:center; padding:14px 0 0 35px; }
.poptit .close { top:6px; right:3px; width:32px; height:32px; background:url("/images/blue/aside_close.png") no-repeat; background-size:contain; cursor:pointer; }