
/*--------------------------[    schedule   ]------------------------- */

/* schedule top */
.schedule_top { float:left; width:100%; background:#fff; padding:0 0 6px 0; margin:0; }
.schedule_top .scd_today { position:absolute; right:5px; font-size:1em; height:20px; color:#fff; text-align:center; background:#27b2c4; border:1px solid #148595; border-radius:17px; padding:4px 6px 0 6px; margin:0 0 0 5px; }
.scd_top1,.scd_top2,.scd_top3 { margin:0 auto; height:5px; }
.scd_top1 dd,.scd_top2 dd,.scd_top3 dd { float:left; }
.scd_top1 { width:160px; }
.scd_top2 { width:210px; }
.scd_top3 { width:225px; }
.scd_prev,.scd_next,.scd_today,.scd_tit1,.scd_tit2,.scd_tit3 { margin:5px 0 0 0; cursor:pointer; }
.scd_prev,.scd_next { width:25px; height:24px; border:1px solid #d4d4d4; border-radius:3px; }
.scd_prev { background:#fff url("/images/blue/btn_prev.png") no-repeat; background-size:contain; }
.scd_next { background:#fff url("/images/blue/btn_next.png") no-repeat; background-size:contain; }
.scd_tit1,.scd_tit2,.scd_tit3 { font-size:1.3em; color:#5c6067; text-align:center; }
.scd_tit1 { padding:6px 15px 3px 16px; }
.scd_tit2 { padding:6px 15px 3px 16px; }
.scd_tit3 { padding:6px 6px 3px 8px; }
/* schedule body */
.schedule_body_scroll { position:absolute; top:87px; right:0; bottom:0; left:0; border-top:1px solid #c6c6c6; overflow-x:hidden; overflow-y:auto; }
.schedule_body,.scd_body { float:left; width:100%; }
.schedule_body { padding:0; }
.scd_body { font-size:1.05em; }
.scd_body caption { text-align:left; height:15px; background:url("/images/blue/dot_tits.png") no-repeat; padding:0 0 3px 7px; background-size:contain; }
.scd_body .scdtit_time,.scdtit,.scdtit_all,.color1,.color2,.color3 { font-size:0.9em; }
.scd_body .scdtit_time,.scdtit,.scdtit_all,.color1,.color2,.color3,.basicdiv,.scd_body,.basic_all { color:#000; }
.scd_body .scdtit_time,.scdtit,.scdtit_md,.scdtit_sunday,.scdtit_saturday { border-right:1px solid #eaeaea; }
.scd_body .scdtit_time,.scdtit,.scdtit_md,.scdtit_sunday,.scdtit_saturday { background:#f7f7f7; }
.scd_body .scdtit_time,.scdtit { height:19px; text-align:right; padding:5px 4px 0 0; }
.scd_body .scdtit_all,.scdtit_md,.scdtit_mdtoday,.scdtit_sunday,.scdtit_saturday { text-align:center; vertical-align:middle; }
.scd_body .scdtit_all { background:#ebebeb; border-right:1px solid #d9d9d9; padding:4px 0 4px 0; }
.scd_body .scdtit_md,.scdtit_mdtoday,.scdtit_sunday,.scdtit_saturday { height:20px; font-size:1em; font-weight:100; padding:2px 0 0 0; }
.scd_body .scdtit_sunday,.basic_holiday { color:#d22681; }
.scd_body .scdtit_saturday { color:#1198ac; }
.scd_body .basic_blank,.basic_blanktime { height:17px; }
.scd_body .basic_blanktime { background:url("/images/blue/dot_tbg.png"); background-size:contain; }
.scd_body .basic_blanktimei { height:17px; background:url("/images/blue/dot_t.png") no-repeat; background-size:contain; }
.scd_body .basic_all { font-size:0.9em; }
.scd_body .basic_blank,.basic_blanktime,.basic_all,.basic_w,.basic_holiday { background:#fff; }
.scd_body .scdtit_time,.scdtit,.scdtit_md,.scdtit_sunday,.scdtit_saturday,.basic_blank,.basic_blanktime,.basic_all,.basic,.basic_w,.basic_holiday { border-bottom:1px solid #eaeaea; }
.scd_body .scdtit_mdtoday { background:url("/images/blue/dot_o.png") no-repeat; background-size:contain;  }
.scd_body .basic_all { padding:4px 0 2px 3px; line-height:16px; cursor:pointer; }
.scd_body .scd_line { position:absolute; left:0; right:0; height:1px; background:#c6c6c6; margin:-1px 0 0 0; }
.scd_body .color1,.color2,.color3 { position:absolute; opacity:0.7; cursor:pointer; }
.scd_body .color1 dd,.color2 dd,.color3 dd { height:20px; padding:4px 0 1px 3px; }
.scd_body .color1 dd,.color2 dd,.color3 dd,.basic_w,.basic_holiday,.basic_b,.basic_y,.basic_r { white-space:nowrap; text-overflow:ellipsis; overflow:hidden; }
.scd_body .color1 { left:63px; right:55%; margin:0 0 0 1px; }
.scd_body .color2 { left:45%; right:27%; }
.scd_body .color3 { left:73%; right:0; }
.scd_body .color1,.basic_b { background:#b3bdf8; }
.scd_body .color2,.basic_y { background:#ffe188; }
.scd_body .color3,.basic_r { background:#ffc9cd; }
.scd_body .basic { height:28px; }
.scd_body .basicdiv { position:absolute; left:64px; right:0; font-size:0.9em; }
.scd_body .basic_w,.basic_holiday,.basic_b,.basic_y,.basic_r { height:22px; cursor:pointer; }
.scd_body .basic_w,.basic_holiday,.basic_b,.basic_y,.basic_r { padding:6px 0 0 4px; }
.scd_body .basic_b,.basic_y,.basic_r { opacity:0.8; }
.scd_body .basic_b { border-bottom:1px solid #7a9dc0; }
.scd_body .basic_y { border-bottom:1px solid #ecaf63; }
.scd_body .basic_r { border-bottom:1px solid #ff888e; }
/* schedule calendar */
.schedule_calendar_scroll { position:absolute; top:104px; right:0; bottom:0; left:0; overflow-x:hidden; overflow-y:auto; }
.schedule_calendar { padding:0; }
.scd_calendar { float:left; width:100%; }
.scd_cweek { font-size:0.9em; text-align:center; border-top:1px solid #cecece; line-height:14px; }
.scd_cweek .week,.scd_cweek .week_sunday,.scd_cweek .week_saturday { background:#ebebeb; border-bottom:1px solid #cecece; }
.scd_cweek .week,.scd_cweek .week_sunday { border-right:1px solid #d4d4d4; }
.scd_cweek .week { color:#5c6067; } 
.scd_cweek .week_sunday { color:#d22681; } 
.scd_cweek .week_saturday { color:#1198ac; } 
.scd_cbody { height:75px; line-height:15px; border-bottom:1px solid #d4d4d4; }
.scd_cbody .pbgarea { position:relative; left:0; right:0; }
.scd_cbody .pbgarea .pbg1,.pbg2,.pbg3,.pbg4,.pbg1_g,.pbg2_g,.pbg3_g,.pbg4_g,.ptxt1,.ptxt2,.ptxt3,.ptxt4,.ptxt1_g,.ptxt2_g,.ptxt3_g,.ptxt4_g { 
position:absolute; left:0; right:0; height:13px; font-size:0.85em; color:#000; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; margin:0 -2px 0 -1px; }
.scd_cbody .pbgarea .pbg1,.pbg1_g,.ptxt1,.ptxt1_g { top:0; }
.scd_cbody .pbgarea .pbg2,.pbg2_g,.ptxt2,.ptxt2_g { top:15px; }
.scd_cbody .pbgarea .pbg3,.pbg3_g,.ptxt3,.ptxt3_g { top:30px; }
.scd_cbody .pbgarea .pbg4,.pbg4_g,.ptxt4,.ptxt4_g { top:45px; }
.scd_cbody .pbgarea .pbg1,.pbg2,.pbg3,.pbg4,.pbg1_g,.pbg2_g,.pbg3_g,.pbg4_g { background:#c1caff; padding:1px 0 0 1px; }
.scd_cbody .pbgarea .pbg1,.pbg2,.pbg3,.pbg4 { opacity:0.85; }
.scd_cbody .pbgarea .pbg1_g,.pbg2_g,.pbg3_g,.pbg4_g { opacity:0.35; }
.scd_cbody .pbgarea .ptxt1,.ptxt2,.ptxt3,.ptxt4,.ptxt1_g,.ptxt2_g,.ptxt3_g,.ptxt4_g { 
color:#404040; background:url("/images/blue/dot_tits_c.png") no-repeat; padding:1px 0 0 4px; background-size:contain; }
.scd_cbody .pbgarea .ptxt1_g,.ptxt2_g,.ptxt3_g,.ptxt4_g { opacity:0.4; }
.scd_cbody .holiday,.holiday_red,.holiday_g,.holiday_g_red { position:relative; left:15px; right:0; text-align:right; font-size:0.85em; margin:0 14px 0 0;    }
.scd_cbody .holiday .size,.holiday_red .size,.holiday_g .size,.holiday_g_red .size { position:absolute; left:0; right:0; white-space:nowrap; overflow:hidden; margin:-14px 0 0 0; }
.scd_cbody .holiday,.pbg,.day { color:#222; }
.scd_cbody .holiday_red,.sunday,.day_today_sun { color:#d22681; }
.scd_cbody .holiday_g { color:#c6c6c6; }
.scd_cbody .holiday_g_red,.sunday_g { color:#f8c2e7; }
.scd_cbody .day,.scd_cbody .sunday,.scd_cbody .saturday,.scd_cbody .day_g,.scd_cbody .sunday_g,.scd_cbody .saturday_g { font-size:0.85em; padding:0 2px 0 1px; cursor:pointer; }
.scd_cbody .day,.scd_cbody .sunday,.scd_cbody .day_g,.scd_cbody .sunday_g { border-right:1px solid #d4d4d4; }
.scd_cbody .day_g,.scd_cbody .sunday_g,.scd_cbody .saturday_g { background:#f7f7f7; } 
.scd_cbody .saturday,.day_today_sat { color:#1198ac; } 
.scd_cbody .day_g { color:#c6c6c6; } 
.scd_cbody .saturday_g { color:#b9dee2; }
.scd_cbody .day_today { color:#000; }
.scd_cbody .day_today_sun,.day_today_sat,.day_today { position:absolute; width:14%; height:74px; font-size:0.85em; background:#ffebed; border:1px solid #f6a2a7; cursor:pointer; }
.scd_cbody .day_today_sun { margin:-1px 0 0 0; }
.scd_cbody .day_today_sat { padding:0 2px 0 0; margin:-1px 0 0 -1px; } 
.scd_cbody .day_today { margin:-1px 0 0 -1px; } 

/*--------------------------[      book     ]------------------------- */
/* book top */
.booktop_area { float:left; width:100%; background:#f7f7f7; padding:0 0 6px 0; margin:0; }
.booktop { width:240px; margin:0 auto; }
.booktop dd { float:left; }
.booktop .bk_prev,.bk_next,.bk_today,.bk_tit { margin:5px 0 0 0; cursor:pointer; }
.booktop .bk_prev,.bk_next { width:25px; height:24px; border:1px solid #d4d4d4; border-radius:3px; }
.booktop .bk_prev { background:#fff url("/images/blue/btn_prev.png") no-repeat; background-size:contain; }
.booktop .bk_next { background:#fff url("/images/blue/btn_next.png") no-repeat; background-size:contain; }
.booktop .bk_today,.bk_tit { color:#222; text-align:center; }
.booktop .bk_today { position:absolute; right:5px; font-size:1em; height:20px; color:#fff; background:#27b2c4; border:1px solid #148595; border-radius:17px; padding:4px 6px 0 6px; margin:43px 0 0 5px; }
.booktop .bk_tit { font:1.2em "gulim"; color:#5c6067; padding:5px 10px 2px 11px; }
/* book body */
.bookbody_scroll { position:absolute; top:186px; right:0; bottom:0; left:0; overflow-x:hidden; overflow-y:auto; }
.bookbody_scroll_t { position:absolute; top:120px; right:0; bottom:0; left:0; overflow-x:hidden; overflow-y:auto; }
.bookbody_area { padding:0; }
.bookbody_area table { float:left; width:100%; }
.bookbody { font-size:1.05em; color:#222; }
.weekarea { font-size:0.9em; text-align:center; border-top:1px solid #cecece; line-height:14px; }
.weekarea .week,.weekarea .week_sunday,.weekarea .week_saturday { height:12px; background:#ebebeb; border-right:1px solid #d4d4d4; border-bottom:1px solid #cecece; padding:1px 0 0 0; }
.weekarea .week { color:#5c6067; } 
.weekarea .week_sunday { color:#d22681; } 
.weekarea .week_saturday { color:#1198ac; }
.time_tarea { font-size:0.9em; text-align:center; }
.time_tarea .time_t { height:19px; color:#5c6067; background:#ebebeb; border-top:1px solid #cecece; border-right:1px solid #d4d4d4; border-bottom:1px solid #d4d4d4; padding:4px 0 0 0; }
.time_tarea .time_t2 { height:19px; color:#5c6067; background:#f7f7fb; border:1px solid #d4d4d4; padding:4px 0 0 0; }
.bookbody .time,.time_ct { height:18px; font-size:0.9em; background:#f7f7f7; padding:5px 3px 0 0; vertical-align:top; }
.bookbody .time { text-align:right; }
.bookbody .time_ct { text-align:center; }
.bookbody .time,.time_ct,.bk_body,.bk_body_blue,.bk_body_gray { border-right:1px solid #eaeaea; border-bottom:1px solid #eaeaea; }
.bookbody .bk_body,.bk_body_blue,.bk_body_gray { cursor:pointer; }
.bookbody .bk_body_blue,.bk_body_gray { height:22px; }
.bookbody .bk_body { height:24px; background:#fff; }
.bookbody .bk_body_blue { background:#c5cfff; border:1px solid #778aeb; }
.bookbody .bk_body_gray { background:#ffd9dc; border:1px solid #e69ba1; }
.bookbody .bk_body2 { height:36px; background:#fff; border:1px solid #d4d4d4; }
.bookbody .bk_body2 .ct { width:26px; padding:2px 0 0 0; margin:0 auto; }
.bookbody .bk_line,.bk_line_b { position:absolute; left:0; right:0; height:1px; margin:-1px 0 0 0; }
.bookbody .bk_line { background:#c6c6c6; }
.bookbody .bk_line_b { background:#1ca5b2; }
.bookbody .bk_time { position:relative; left:0; right:0; height:6px; margin:8px 0 0 0; }
.bookbody .bk_time .bktime_lt { float:left; position:absolute; left:0; right:50%; height:6px; background:#c5cfff; border:1px solid #778aeb; margin:0 1px 0 0; }
.bookbody .bk_time .bktime_rt  { float:right; position:absolute; left:50%; right:0; height:6px; background:#ffd9dc; border:1px solid #e69ba1; }