@import url("m.gworange.blue.css");
/*-----------------------------[     mail    ]-------------------------- */

.mailarea { float:left; width:100%; }

/* maillt */
.maillt { float:left; height:27px; padding:3px 0 0 0; margin:0 0 0 5px; }
.maillt .mtit { height:15px; font-size:1.22em; color:#000; background:url("/images/blue/dot_mail.png") no-repeat; background-size:contain; padding:5px 0 0 6px; }

/* mailrt select */
.mailrt { position:relative; left:86px; margin:0 91px 5px 0; }
.mailrt .select { height:30px; background:#fff; border:1px solid #d4d4d4; border-radius:3px; cursor:pointer; }
.mailrt .select .mtxt { position:absolute; top:8px; right:29px; left:5px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; }
.mailrt .select .mview { float:right; width:27px; height:30px; background:url("/images/blue/btn_down_s.png") no-repeat 0 2px; border-left:1px solid #d4d4d4; background-size:contain; }

/* mail input */
.mailrt .input { position:relative; right:33px; height:30px; background:#fff; border:1px solid #d4d4d4; border-radius:3px; margin:0 0 5px 33px; }
.mailrt .input .inputbg { position:absolute; top:3px; right:54px; left:3px; }
.mailrt .input .inputbg .minput { width:100%; height:23px; color:#222; background:#fff; border:0px solid #fff; padding:1px 0 0 1px; }
.mailrt .input .mplus,.msearch { width:27px; height:30px; cursor:pointer; }
.mailrt .input .mplus { position:absolute; top:0; right:27px; background:url("/images/blue/btn_plus3.png") no-repeat -1px 3px; background-size:contain; }
.mailrt .input .msearch { float:right; background:url("/images/blue/btn_search.png") no-repeat; border-left:1px solid #d4d4d4; background-size:contain; }

/* mail inputview */
.mailrt .inputview { position:relative; right:2px; margin:0 0 0 2px; }
.mailrt .inputviewin { float:left; width:100%; border:1px solid #d4d4d4; border-radius:3px; margin:0 0 5px 0; }
.mailrt .inputviewin dl { float:left; width:100%; height:29px; }
.mailrt .inputviewin .mtxt { position:absolute; left:0; right:27px; height:22px; padding:7px 0 0 5px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; cursor:pointer; }
.mailrt .inputviewin .mdelete { position:absolute; right:-1px; width:27px; height:29px; background:url("/images/blue/ico_delete2.png") no-repeat 0 1px; background-size:contain; cursor:pointer; }
.mailrt .inputviewin .mline { float:left; height:0px; border-top:1px dotted #d4d4d4; }
.mailrt .mview2 { position:absolute; top:0; right:0; width:27px; height:30px; background:url("/images/blue/btn_open.png") no-repeat 0 2px; border:1px solid #d4d4d4; border-radius:3px; background-size:contain; cursor:pointer; }

.mailrt_d { position:relative; left:73px; margin:0 78px 5px 0; }
.mailrt_d .select { height:30px; background:#fff; border:1px solid #d4d4d4; border-radius:3px; cursor:pointer; }
.mailrt_d .select .mtxt { position:absolute; top:8px; right:0; left:5px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; }
.mailrt_d .input { position:relative; right:33px; height:30px; background:#fff; border:1px solid #d4d4d4; border-radius:3px; margin:0 0 5px 33px; cursor:pointer; }
.mailrt_d .input .mtxt { position:absolute; top:7px; right:4px; left:4px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; }
.mailrt_d .inputview { position:relative; right:2px; margin:0 0 0 2px; }
.mailrt_d .inputviewin { float:left; width:100%; border:1px solid #d4d4d4; border-radius:3px; margin:0 0 5px 0; }
.mailrt_d .inputviewin dl { float:left; width:100%; height:29px; }
.mailrt_d .inputviewin .mtxt { position:absolute; left:0; right:-1px; height:22px; padding:7px 0 0 5px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; cursor:pointer; }
.mailrt_d .inputviewin .mline { float:left; height:0px; border-top:1px dotted #d4d4d4; }
.mailrt_d .mview2 { position:absolute; top:0; right:0; width:27px; height:30px; background:url("/images/blue/btn_open.png") no-repeat 0 2px; border:1px solid #d4d4d4; border-radius:3px; background-size:contain; cursor:pointer; }

/* mail check */
.mailcheck { width:100%; height:26px; padding:0 5px 0 5px; }
.mailcheck .mcheck_txt { float:left; font-size:1.22em; color:#222; padding:6px 9px 0 0; }
.mailcheck .mcheck,.mcheck_on,.mcheck_disabled,.mcheck_disabled_on { float:left; width:25px; height:25px; margin:0 4px 5px 0; cursor:pointer; }
.mailcheck .mcheck { background:url("/images/blue/check.png") no-repeat; background-size:contain; }
.mailcheck .mcheck_on { background:url("/images/blue/check_on.png") no-repeat; background-size:contain; }
.mailcheck .mcheck_disabled { background:url("/images/blue/checkd.png") no-repeat; background-size:contain; }
.mailcheck .mcheck_disabled_on { background:url("/images/blue/checkd_on.png") no-repeat; background-size:contain; }