@charset "utf-8";
/***************************************************************************************************
****************************************************************************************************    
* 파일명        : formbuilder.css 
* 설명          : 폼빌더에 적용되는 css
* 완료일        : 2018.03.14 ~ 2018.05.31
* 변경자/변경일 : 
* 변경사유/내역 : 
****************************************************************************************************
****************************************************************************************************/
#itemsArea{margin:0 5px 5px 0;float:left;width:100%;}

div.selectItems{background-color:#f2f2f2;}

div.noSelect{
-ms-user-select: none; 
-moz-user-select: -moz-none;
-khtml-user-select: none;
-webkit-user-select: none;
user-select: none;
pointer-events:none;
min-width:100px;
/* text-align:left; */
/* width:95%; */
}

ul.table_list{
    list-style: none;
	margin:0;
	padding:0;
}

ul.table_list li.list {
    margin-top: 0px;
    width: 98%;
	padding: 6px 7px 5px;
    border-bottom: 1px solid #ececec;
	font-weight:bold;	
	outline:0;
	font-size:14px;
	color:#454545;
}
ul.table_list li label.label_wrap{
   display:inherit;
}

ul.attr_list{
	display:inline-block;
    list-style: none;
	margin:0;
	padding:0;
	text-align:left;
}

ul.attr_list li {
    margin-top: 0px;
	/*padding: 3px 3px 3px 3px;*/
	float:left;
}

ul.attr_list li.attr_check {
	padding: 3px 3px 3px 3px;
}

ul.attr_list li span{
    line-height:20px;
}

div.attr_check {
	padding: 3px 3px 3px 3px;
}

ul.attr_list li.line_enter {
	clear:both;
}

div.component_list{margin-bottom:2px;position:relative;width:99%;float:left;}
div.component_comb{width:inherit !important;}
div.component_area{border:1px dotted #F78181;min-height:26px;}
div.component_list label.header{line-height:26px;word-break:break-all;}
div.component_list div.title span{line-height:26px;}
div.label{color:initial;}

/** div.component_list{width:99%}*/

div.component_list .image_profile .photo{/* min-width:88px;min-height:110px;border: 1px solid #bfc8d2; */margin: 0 0 5px 0;}
div.component_list .image_profile .photo_btn {
	text-align:inherit;
    /* text-align: center; */
}

div.check{position:absolute;z-index:1;top:0px;}

td.cell_fix{position:relative;}

td.cell_repet{background-color:#f2effb;}

ul.table_list li div.list_wrap{
   /* display:inherit; */
   display:inline-block;
   clear:both;
   width:96%;
}

ul.table_list li div.list_wrap .title{
   float:left;
}

ul.table_list li div.list_wrap .btnArea{
   float:right;
}

ul.table_list li div.list_wrap .btnArea ul{
	list-style: none;
    padding: 0;
    margin: 0;
}

ul.table_list li div.list_wrap .btnArea .btn {
    float: left;
    padding: 0;
    margin: 0 0 2px 0;
}

ul.table_list li div.list_wrap .btnArea .ico {
    float: left;
    padding: 0;
    margin: 0 0 0 4px;
}

ul.table_list li div.list_wrap .btnArea .ico a{
    margin: 0 0 0 4px;
}

div.titleSelect{float:right;}

/* Close Button */

[class*='close-'], [class*='select-']  {
  color: #777;
  font: 14px/100% arial, sans-serif;
  position: absolute;  
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  z-index:2;
}

[class*='close-']{
  right: 0px;
  top: 0px;  
}
[class*='select-']{    
  right: 15px;
  top: 0px;
}

.close-classic:after {
  content: 'X'; /* ANSI X letter */
}

.close-thin:after {
  content: '×'; /* UTF-8 symbol */
}

.close-thik:after {
  content: '✖'; /* UTF-8 symbol */
}

.select-classic:after {
  content: '◎'; /* ANSI X letter */
}

.select-thin:after {
  content: '⊙'; /* UTF-8 symbol */
}

.select-thik:after {
  content: '◎'; /* UTF-8 symbol */
}

.line { height:1px; background:url("/images/blue/line.png"); padding:0; margin:0; width:100%; }
/*.lout_on { background-color:#f2f2f2; }*/
.lout_on { border:2px dotted #ff00bf; }
.cell_on { border:2px solid #0080FF; }

div #loutsViewArea .editor{border:1px solid #ddd;background:#fff;height:200px;}

div.editor2 {background:url("/images/etc/editor2.png") repeat right 0px; text-align:left;}
div.editor3 {background:url("/images/etc/editor3.png") no-repeat right 0px; }

div.file2 {background:url("/images/etc/file2.png") repeat right 0px; text-align:left;}
div.file3 {background:url("/images/etc/file3.png") no-repeat right 0px; }

/** TOOLTIP */

div[data-tooltip-text]:hover {
	position: relative;
}

div[data-tooltip-text]:after {
	-webkit-transition: bottom .3s ease-in-out, opacity .3s ease-in-out;
	-moz-transition: bottom .3s ease-in-out, opacity .3s ease-in-out;
	transition: bottom .3s ease-in-out, opacity .3s ease-in-out;

	background-color: rgba(0, 0, 0, 0.8);

  -webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	-moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
  color: #FFFFFF;
	font-size: 12px;
	margin-bottom: 10px;
	padding: 7px 12px;
	position: absolute;
	width: auto;
	min-width: 50px;
	max-width: 300px;
	word-wrap: break-word;

	z-index: 9999;

	opacity: 0;
	left: -9999px;
  top: 90%;
	
	content: attr(data-tooltip-text);
}

div[data-tooltip-text]:hover:after {
	top: 130%;
	left: 0;
	opacity: 1;
}

div.check_select_area{position:relative;z-index:998;margin:0 -2px 0 1px;padding:0 0 0 2px;}
div.check_select_area div.check_select{position: absolute; border: 1px solid #454545; background-color: #fff; z-index: 999;}
ul.check_list{display: inline-block; list-style: none; margin: 0; padding: 0; text-align: left;}
ul.check_list li{margin-top: 0px; padding: 3px 3px 3px 3px; float: left;}

/** context menu */
div.contextArea{position:absolute;z-index:999;background-color:#fff;width:130px;border:1px solid #c3ccd4;}
div.contextArea ul.context_mnu{list-style:none;margin:0;padding:0;}
div.contextArea ul.context_mnu li.mnu_list{height: 30px;border-bottom: 1px solid #c3ccd4;margin: 0 6px 0 0;width:100%;cursor:pointer;}
div.contextArea ul.context_mnu li.mnu_list a.mnu{float: left;color: #454545;font-weight: bold;padding: 10px 0 7px 0;text-indent: 10px;line-height: 12px;width:100%;}
div.contextArea ul.context_mnu li.mnu_list a:hover { background:url("/images/blue/sidemuno_on.png") no-repeat right 0px; text-decoration:none; }
div.contextArea div.context-header{background:#eee;padding:2px 4px;}
div.contextArea div.context-header .context-title{font-weight:bold;}
div.contextArea div.context-header .context-close{font-size:.9em;margin-top:2px;float:right;cursor:pointer;width: 1em;height: 1em;line-height: 1em;user-select: none;}
div.contextArea div.context-header .context-close:after{content:"\000D7";font-size:130%;top: 6%;}

/* div.contextArea div.closeBtn{text-align:right;width:100%;padding:0 2px 2px 0;} */

div.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
}

div.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
div.dropdown-content a.mnu{font-weight: bold;}

div.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

div.titlearea .tit_right{position:relative;}