@charset "utf-8";
/***************************************************************************************************
****************************************************************************************************    
* 파일명        : header.icon.css 
* 설명          : Header Icon메뉴 버전에 적용되는 css
* 완료일        : 2013.10.14 ~ 2014.01.31
* 변경자/변경일 : 
* 변경사유/내역 : 
****************************************************************************************************
****************************************************************************************************/


/* 공 통  ---------------------------------------------------------------------------------------------*/
body, html { font:12px "dotum","arial"; color:#454545; background:#ffffff; margin:0;}
			/*scrollbar-face-color:#ffffff; 
			scrollbar-highlight-color:#dadada; 
			scrollbar-3dlight-color:#f7f7f7; 
			scrollbar-shadow-color:#dadada;
			scrollbar-darkshadow-color:#f7f7f7; 
			scrollbar-track-color:#f7f7f7; 
			scrollbar-arrow-color:#bfc8d2;*/ 
a:link    { color:#454545; text-decoration:none; }
a:visited { color:#454545; text-decoration:none; }
a:hover   { color:#454545; text-decoration:underline; }
a:active  { color:#454545; text-decoration:underline; }
dl, dt, dd { margin:0; padding:0; }
img { border:0; }
hr { display:none; }                               
form { margin:0; padding:0; }
img { border-top-width:0px; border-left-width:0px; border-bottom-width:0px; border-right-width:0px; }
hr { display:none; }
body { margin:0; padding:0; }
img { border:none; } 
a { selector-dummy:expression(this.hideFocus=true); } 
.table_w100 { width:100%; }
.table_h100 { height:100%; }

html,body { height:100%; margin:0; }


/* Header Blue--------------------------------------------------------------------------------------*/
#header_blue { width:100%; height:91px; background:url("/images/blue/header_icon/bg.png"); }

/* Header Left */
#header_blue .left { width:26%; height:91px; position:absolute; left:0px; margin:0 0 0 10px; }
#header_blue .left .logo { height:63px; }
#header_blue .left .logotxt { float:left; font-size:11px; height:18px; color:#b8e3f5; padding:8px 0 0 0; }
#header_blue .left .logotxt a:link    { color:#b8e3f5; }
#header_blue .left .logotxt a:visited { color:#b8e3f5; }
#header_blue .left .logotxt a:active  { color:#47839a; text-decoration:none; }
#header_blue .left .logotxt a:hover   { color:#47839a; text-decoration:none; }
#header_blue .left .logotxt strong { color:#bbff43; }
#header_blue .left .logotxt a:hover strong { color:#4d8d19; }
#header_blue .left .logoblank { float:left; width:15px; height:13px; background:url("/images/blue/header_icon/blank.png") no-repeat; margin:7px 0 0 0; }
/* Header Center >> header.icon.img.css */
/* HeaderMenu 빈칸 */
#header_blue a.mu_blank { display:block; width:70px; height:66px; background:url("/images/blue/header_icon/menu.png") no-repeat; }
#header_blue a:hover.mu_blank { background:url("/images/blue/header_icon/menu.png") no-repeat; }
#header_blue a.mu_blank span { display:none; }

/* HeaderMenu - TopPopup */
#header_blue .toppop { width:100%; }
#header_blue .toppop .toppop_arrow { width:100%; height:7px; text-align:center; }
#header_blue .toppop .toppop_body { float:left; background:#ffffff; border:1px solid #1e4371; margin:-1px 0 0 0; }
#header_blue .toppop .toppop_body ul { list-style:none; padding:0; margin:0; }
#header_blue .toppop .toppop_body li { padding:0; margin:0; }
#header_blue .toppop .toppop_body .toppop_menu { float:left; width:100%; font-size:11px; padding:5px 0 2px 0; text-indent:6px; background:#ffffff; }
#header_blue .toppop .toppop_body a:hover.toppop_menu { background:#dff3a1; text-decoration:none; }
#header_blue .toppop .toppop_body a { margin:0 6px 0 0; }
#header_blue .toppop .toppop_body .toppop_line { float:left; width:100%; height:1px; background:#ced5dd; }

/* Header Right */
#header_blue .right { width:31%; height:91px; position:absolute; right:0px; margin:0 13px 0 0; }
#header_blue .right .search { float:right; height:63px; }
#header_blue .right .search .inputarea { float:right; width:150px; height:25px; background:url("/images/blue/header_icon/search.png") no-repeat; margin:4px 0 0 3px; }
#header_blue .right .search .inputbg { float:left; width:110px; }
#header_blue .right .search .inputbg .input { background:#ffffff; border:1px solid #ffffff; margin:2px 0 0 1px; }
#header_blue .right .search .inputbtn { float:right; width:27px; }
#header_blue .right .search .inputbtn a.inputbtn { display:block; width:27px; height:25px; background:url("/images/blue/header_icon/searchbtn.png") no-repeat; margin:0; }
#header_blue .right .search .inputbtn a:hover.inputbtn { background:url("/images/blue/header_icon/searchbtn_on.png") no-repeat; }
#header_blue .right .search .inputbtn a.inputbtn span { display:none; }

#header_blue .right .searchtxt { float:right; }
#header_blue .right .searchtxt .rt_department { float:left; font-size:11px; height:18px; color:#b8e3f5; padding:8px 0 0 0; }
#header_blue .right .searchtxt .rt_department a:link    { color:#b8e3f5; }
#header_blue .right .searchtxt .rt_department a:visited { color:#b8e3f5; }
#header_blue .right .searchtxt .rt_department a:active  { color:#4d8d19; text-decoration:none; }
#header_blue .right .searchtxt .rt_department a:hover   { color:#4d8d19; text-decoration:none; }
#header_blue .right .searchtxt .rt_department_arrow { float:left; font-size:11px; height:18px; color:#baff42; padding:8px 0 0 0; }
#header_blue .right .searchtxt .rt_department_arrow a:link    { color:#baff42; background:url("/images/blue/header_icon/arrowa.png") no-repeat right; padding:0 10px 0 0; }
#header_blue .right .searchtxt .rt_department_arrow a:visited { color:#baff42; background:url("/images/blue/header_icon/arrowa.png") no-repeat right; padding:0 10px 0 0; }
#header_blue .right .searchtxt .rt_department_arrow a:active  { color:#4d8d19; text-decoration:none; background:url("/images/blue/header_icon/arrowa_on.png") no-repeat right; padding:0 10px 0 0; }
#header_blue .right .searchtxt .rt_department_arrow a:hover   { color:#4d8d19; text-decoration:none; background:url("/images/blue/header_icon/arrowa_on.png") no-repeat right; padding:0 10px 0 0; }
#header_blue .right .searchtxt .rt_name { float:left; height:18px; color:#baff42; font-weight:bold; padding:7px 0 0 7px; }
#header_blue .right .searchtxt .rt_name a:link    { color:#baff42; }
#header_blue .right .searchtxt .rt_name a:visited { color:#baff42; }
#header_blue .right .searchtxt .rt_name a:active  { color:#4d8d19; text-decoration:none; }
#header_blue .right .searchtxt .rt_name a:hover   { color:#4d8d19; text-decoration:none; }
#header_blue .right .searchtxt .rt_admin { float:left; font-size:11px; height:18px; color:#b8e3f5; padding:8px 0 0 0; }
#header_blue .right .searchtxt .rt_admin a:link    { color:#b8e3f5; background:url("/images/blue/header_icon/arrowb.png") no-repeat right; padding:0 10px 0 0; }
#header_blue .right .searchtxt .rt_admin a:visited { color:#b8e3f5; background:url("/images/blue/header_icon/arrowb.png") no-repeat right; padding:0 10px 0 0; }
#header_blue .right .searchtxt .rt_admin a:active  { color:#47839a; text-decoration:none; background:url("/images/blue/header_icon/arrowb_on.png") no-repeat right; padding:0 10px 0 0; }
#header_blue .right .searchtxt .rt_admin a:hover   { color:#47839a; text-decoration:none; background:url("/images/blue/header_icon/arrowb_on.png") no-repeat right; padding:0 10px 0 0; }
#header_blue .right .searchtxt .rt_menu { float:left; font-size:11px; height:18px; color:#b8e3f5; padding:8px 0 0 0; }
#header_blue .right .searchtxt .rt_menu a:link    { color:#b8e3f5; }
#header_blue .right .searchtxt .rt_menu a:visited { color:#b8e3f5; }
#header_blue .right .searchtxt .rt_menu a:active  { color:#47839a; text-decoration:none; }
#header_blue .right .searchtxt .rt_menu a:hover   { color:#47839a; text-decoration:none; }
#header_blue .right .searchtxt .rt_blank { float:left; width:15px; height:13px; background:url("/images/blue/header_icon/blank.png") no-repeat; margin:7px 0 0 0; }



/* Header Pink--------------------------------------------------------------------------------------*/
#header_pink { width:100%; height:91px; background:url("/images/pink/header_icon/bg.png"); }

/* Header Left */
#header_pink .left { width:26%; height:91px; position:absolute; left:0px; margin:0 0 0 10px; }
#header_pink .left .logo { height:63px; }
#header_pink .left .logotxt { float:left; font-size:11px; height:18px; color:#f6d8d3; padding:8px 0 0 0; }
#header_pink .left .logotxt a:link    { color:#f6d8d3; }
#header_pink .left .logotxt a:visited { color:#f6d8d3; }
#header_pink .left .logotxt a:active  { color:#ba9a95; text-decoration:none; }
#header_pink .left .logotxt a:hover   { color:#ba9a95; text-decoration:none; }
#header_pink .left .logotxt strong { color:#ffb0c0; }
#header_pink .left .logotxt a:hover strong { color:#c67c8b; }
#header_pink .left .logoblank { float:left; width:15px; height:13px; background:url("/images/pink/header_icon/blank.png") no-repeat; margin:7px 0 0 0; }
/* Header Center >> header.icon.img.css */
/* HeaderMenu 빈칸 */
#header_pink a.mu_blank { display:block; width:70px; height:66px; background:url("/images/pink/header_icon/menu.png") no-repeat; }
#header_pink a:hover.mu_blank { background:url("/images/pink/header_icon/menu.png") no-repeat; }
#header_pink a.mu_blank span { display:none; }

/* HeaderMenu - TopPopup */
#header_pink .toppop { width:100%; }
#header_pink .toppop .toppop_arrow { width:100%; height:7px; text-align:center; }
#header_pink .toppop .toppop_body { float:left; background:#ffffff; border:1px solid #463c47; margin:-1px 0 0 0; }
#header_pink .toppop .toppop_body ul { list-style:none; padding:0; margin:0; }
#header_pink .toppop .toppop_body li { padding:0; margin:0; }
#header_pink .toppop .toppop_body .toppop_menu { float:left; width:100%; font-size:11px; padding:5px 0 2px 0; text-indent:6px; background:#ffffff; }
#header_pink .toppop .toppop_body a:hover.toppop_menu { background:#fde8bb; text-decoration:none; }
#header_pink .toppop .toppop_body a { margin:0 6px 0 0; }
#header_pink .toppop .toppop_body .toppop_line { float:left; width:100%; height:1px; background:#ced5dd; }

/* Header Right */
#header_pink .right { width:31%; height:91px; position:absolute; right:0px; margin:0 13px 0 0; }
#header_pink .right .search { float:right; height:63px; }
#header_pink .right .search .inputarea { float:right; width:150px; height:25px; background:url("/images/pink/header_icon/search.png") no-repeat; margin:4px 0 0 3px; }
#header_pink .right .search .inputbg { float:left; width:110px; }
#header_pink .right .search .inputbg .input { background:#ffffff; border:1px solid #ffffff; margin:2px 0 0 1px; }
#header_pink .right .search .inputbtn { float:right; width:27px; }
#header_pink .right .search .inputbtn a.inputbtn { display:block; width:27px; height:25px; background:url("/images/pink/header_icon/searchbtn.png") no-repeat; margin:0; }
#header_pink .right .search .inputbtn a:hover.inputbtn { background:url("/images/pink/header_icon/searchbtn_on.png") no-repeat; }
#header_pink .right .search .inputbtn a.inputbtn span { display:none; }

#header_pink .right .searchtxt { float:right; }
#header_pink .right .searchtxt .rt_department { float:left; font-size:11px; height:18px; color:#ffb0c0; padding:8px 0 0 0; }
#header_pink .right .searchtxt .rt_department a:link    { color:#ffb0c0; }
#header_pink .right .searchtxt .rt_department a:visited { color:#ffb0c0; }
#header_pink .right .searchtxt .rt_department a:active  { color:#c67c8b; text-decoration:none; }
#header_pink .right .searchtxt .rt_department a:hover   { color:#c67c8b; text-decoration:none; }
#header_pink .right .searchtxt .rt_department_arrow { float:left; font-size:11px; height:18px; color:#ffb0c0; padding:8px 0 0 0; }
#header_pink .right .searchtxt .rt_department_arrow a:link    { color:#ffb0c0; background:url("/images/pink/header_icon/arrowa.png") no-repeat right; padding:0 10px 0 0; }
#header_pink .right .searchtxt .rt_department_arrow a:visited { color:#ffb0c0; background:url("/images/pink/header_icon/arrowa.png") no-repeat right; padding:0 10px 0 0; }
#header_pink .right .searchtxt .rt_department_arrow a:active  { color:#c67c8b; text-decoration:none; background:url("/images/pink/header_icon/arrowa_on.png") no-repeat right; padding:0 10px 0 0; }
#header_pink .right .searchtxt .rt_department_arrow a:hover   { color:#c67c8b; text-decoration:none; background:url("/images/pink/header_icon/arrowa_on.png") no-repeat right; padding:0 10px 0 0; }
#header_pink .right .searchtxt .rt_name { float:left; height:18px; color:#ffb0c0; font-weight:bold; padding:7px 0 0 7px; }
#header_pink .right .searchtxt .rt_name a:link    { color:#ffb0c0; }
#header_pink .right .searchtxt .rt_name a:visited { color:#ffb0c0; }
#header_pink .right .searchtxt .rt_name a:active  { color:#c67c8b; text-decoration:none; }
#header_pink .right .searchtxt .rt_name a:hover   { color:#c67c8b; text-decoration:none; }
#header_pink .right .searchtxt .rt_admin { float:left; font-size:11px; height:18px; color:#f6d8d3; padding:8px 0 0 0; }
#header_pink .right .searchtxt .rt_admin a:link    { color:#f6d8d3; background:url("/images/pink/header_icon/arrowb.png") no-repeat right; padding:0 10px 0 0; }
#header_pink .right .searchtxt .rt_admin a:visited { color:#f6d8d3; background:url("/images/pink/header_icon/arrowb.png") no-repeat right; padding:0 10px 0 0; }
#header_pink .right .searchtxt .rt_admin a:active  { color:#ba9a95; text-decoration:none; background:url("/images/pink/header_icon/arrowb_on.png") no-repeat right; padding:0 10px 0 0; }
#header_pink .right .searchtxt .rt_admin a:hover   { color:#ba9a95; text-decoration:none; background:url("/images/pink/header_icon/arrowb_on.png") no-repeat right; padding:0 10px 0 0; }
#header_pink .right .searchtxt .rt_menu { float:left; font-size:11px; height:18px; color:#f6d8d3; padding:8px 0 0 0; }
#header_pink .right .searchtxt .rt_menu a:link    { color:#f6d8d3; }
#header_pink .right .searchtxt .rt_menu a:visited { color:#f6d8d3; }
#header_pink .right .searchtxt .rt_menu a:active  { color:#ba9a95; text-decoration:none; }
#header_pink .right .searchtxt .rt_menu a:hover   { color:#ba9a95; text-decoration:none; }
#header_pink .right .searchtxt .rt_blank { float:left; width:15px; height:13px; background:url("/images/pink/header_icon/blank.png") no-repeat; margin:7px 0 0 0; }



/* Header Green-------------------------------------------------------------------------------------*/
#header_green { width:100%; height:91px; background:url("/images/green/header_icon/bg.png"); }

/* Header Left */
#header_green .left { width:26%; height:91px; position:absolute; left:0px; margin:0 0 0 10px; }
#header_green .left .logo { height:63px; }
#header_green .left .logotxt { float:left; font-size:11px; height:18px; color:#d4f2ca; padding:8px 0 0 0; }
#header_green .left .logotxt a:link    { color:#d4f2ca; }
#header_green .left .logotxt a:visited { color:#d4f2ca; }
#header_green .left .logotxt a:active  { color:#92ac89; text-decoration:none; }
#header_green .left .logotxt a:hover   { color:#92ac89; text-decoration:none; }
#header_green .left .logotxt strong { color:#93ff99; }
#header_green .left .logotxt a:hover strong { color:#3fa845; }
#header_green .left .logoblank { float:left; width:15px; height:13px; background:url("/images/green/header_icon/blank.png") no-repeat; margin:7px 0 0 0; }
/* Header Center >> header.icon.img.css */
/* HeaderMenu 빈칸 */
#header_green a.mu_blank { display:block; width:70px; height:66px; background:url("/images/green/header_icon/menu.png") no-repeat; }
#header_green a:hover.mu_blank { background:url("/images/green/header_icon/menu.png") no-repeat; }
#header_green a.mu_blank span { display:none; }

/* HeaderMenu - TopPopup */
#header_green .toppop { width:100%; }
#header_green .toppop .toppop_arrow { width:100%; height:7px; text-align:center; }
#header_green .toppop .toppop_body { float:left; background:#ffffff; border:1px solid #2e493c; margin:-1px 0 0 0; }
#header_green .toppop .toppop_body ul { list-style:none; padding:0; margin:0; }
#header_green .toppop .toppop_body li { padding:0; margin:0; }
#header_green .toppop .toppop_body .toppop_menu { float:left; width:100%; font-size:11px; padding:5px 0 2px 0; text-indent:6px; background:#ffffff; }
#header_green .toppop .toppop_body a:hover.toppop_menu { background:#e6f5d4; text-decoration:none; }
#header_green .toppop .toppop_body a { margin:0 6px 0 0; }
#header_green .toppop .toppop_body .toppop_line { float:left; width:100%; height:1px; background:#ced5dd; }

/* Header Right */
#header_green .right { width:31%; height:91px; position:absolute; right:0px; margin:0 13px 0 0; }
#header_green .right .search { float:right; height:63px; }
#header_green .right .search .inputarea { float:right; width:150px; height:25px; background:url("/images/green/header_icon/search.png") no-repeat; margin:4px 0 0 3px; }
#header_green .right .search .inputbg { float:left; width:110px; }
#header_green .right .search .inputbg .input { background:#ffffff; border:1px solid #ffffff; margin:2px 0 0 1px; }
#header_green .right .search .inputbtn { float:right; width:27px; }
#header_green .right .search .inputbtn a.inputbtn { display:block; width:27px; height:25px; background:url("/images/green/header_icon/searchbtn.png") no-repeat; margin:0; }
#header_green .right .search .inputbtn a:hover.inputbtn { background:url("/images/green/header_icon/searchbtn_on.png") no-repeat; }
#header_green .right .search .inputbtn a.inputbtn span { display:none; }

#header_green .right .searchtxt { float:right; }
#header_green .right .searchtxt .rt_department { float:left; font-size:11px; height:18px; color:#93ff99; padding:8px 0 0 0; }
#header_green .right .searchtxt .rt_department a:link    { color:#93ff99; }
#header_green .right .searchtxt .rt_department a:visited { color:#93ff99; }
#header_green .right .searchtxt .rt_department a:active  { color:#3fa845; text-decoration:none; }
#header_green .right .searchtxt .rt_department a:hover   { color:#3fa845; text-decoration:none; }
#header_green .right .searchtxt .rt_department_arrow { float:left; font-size:11px; height:18px; color:#93ff99; padding:8px 0 0 0; }
#header_green .right .searchtxt .rt_department_arrow a:link    { color:#93ff99; background:url("/images/green/header_icon/arrowa.png") no-repeat right; padding:0 10px 0 0; }
#header_green .right .searchtxt .rt_department_arrow a:visited { color:#93ff99; background:url("/images/green/header_icon/arrowa.png") no-repeat right; padding:0 10px 0 0; }
#header_green .right .searchtxt .rt_department_arrow a:active  { color:#3fa845; text-decoration:none; background:url("/images/green/header_icon/arrowa_on.png") no-repeat right; padding:0 10px 0 0; }
#header_green .right .searchtxt .rt_department_arrow a:hover   { color:#3fa845; text-decoration:none; background:url("/images/green/header_icon/arrowa_on.png") no-repeat right; padding:0 10px 0 0; }
#header_green .right .searchtxt .rt_name { float:left; height:18px; color:#93ff99; font-weight:bold; padding:7px 0 0 7px; }
#header_green .right .searchtxt .rt_name a:link    { color:#93ff99; }
#header_green .right .searchtxt .rt_name a:visited { color:#93ff99; }
#header_green .right .searchtxt .rt_name a:active  { color:#3fa845; text-decoration:none; }
#header_green .right .searchtxt .rt_name a:hover   { color:#3fa845; text-decoration:none; }
#header_green .right .searchtxt .rt_admin { float:left; font-size:11px; height:18px; color:#d4f2ca; padding:8px 0 0 0; }
#header_green .right .searchtxt .rt_admin a:link    { color:#d4f2ca; background:url("/images/green/header_icon/arrowb.png") no-repeat right; padding:0 10px 0 0; }
#header_green .right .searchtxt .rt_admin a:visited { color:#d4f2ca; background:url("/images/green/header_icon/arrowb.png") no-repeat right; padding:0 10px 0 0; }
#header_green .right .searchtxt .rt_admin a:active  { color:#92ac89; text-decoration:none; background:url("/images/green/header_icon/arrowb_on.png") no-repeat right; padding:0 10px 0 0; }
#header_green .right .searchtxt .rt_admin a:hover   { color:#92ac89; text-decoration:none; background:url("/images/green/header_icon/arrowb_on.png") no-repeat right; padding:0 10px 0 0; }
#header_green .right .searchtxt .rt_menu { float:left; font-size:11px; height:18px; color:#d4f2ca; padding:8px 0 0 0; }
#header_green .right .searchtxt .rt_menu a:link    { color:#d4f2ca; }
#header_green .right .searchtxt .rt_menu a:visited { color:#d4f2ca; }
#header_green .right .searchtxt .rt_menu a:active  { color:#92ac89; text-decoration:none; }
#header_green .right .searchtxt .rt_menu a:hover   { color:#92ac89; text-decoration:none; }
#header_green .right .searchtxt .rt_blank { float:left; width:15px; height:13px; background:url("/images/green/header_icon/blank.png") no-repeat; margin:7px 0 0 0; }



/* Header Yellow------------------------------------------------------------------------------------*/
#header_yellow { width:100%; height:91px; background:url("/images/yellow/header_icon/bg.png"); }

/* Header Left */
#header_yellow .left { width:26%; height:91px; position:absolute; left:0px; margin:0 0 0 10px; }
#header_yellow .left .logo { height:63px; }
#header_yellow .left .logotxt { float:left; font-size:11px; height:18px; color:#fff7ba; padding:8px 0 0 0; }
#header_yellow .left .logotxt a:link    { color:#fff7ba; }
#header_yellow .left .logotxt a:visited { color:#fff7ba; }
#header_yellow .left .logotxt a:active  { color:#a6906e; text-decoration:none; }
#header_yellow .left .logotxt a:hover   { color:#a6906e; text-decoration:none; }
#header_yellow .left .logotxt strong { color:#ffc555; }
#header_yellow .left .logotxt a:hover strong { color:#ac6e34; }
#header_yellow .left .logoblank { float:left; width:15px; height:13px; background:url("/images/yellow/header_icon/blank.png") no-repeat; margin:7px 0 0 0; }
/* Header Center >> header.icon.img.css */
/* HeaderMenu 빈칸 */
#header_yellow a.mu_blank { display:block; width:70px; height:66px; background:url("/images/yellow/header_icon/menu.png") no-repeat; }
#header_yellow a:hover.mu_blank { background:url("/images/yellow/header_icon/menu.png") no-repeat; }
#header_yellow a.mu_blank span { display:none; }

/* HeaderMenu - TopPopup */
#header_yellow .toppop { width:100%; }
#header_yellow .toppop .toppop_arrow { width:100%; height:7px; text-align:center; }
#header_yellow .toppop .toppop_body { float:left; background:#ffffff; border:1px solid #503f36; margin:-1px 0 0 0; }
#header_yellow .toppop .toppop_body ul { list-style:none; padding:0; margin:0; }
#header_yellow .toppop .toppop_body li { padding:0; margin:0; }
#header_yellow .toppop .toppop_body .toppop_menu { float:left; width:100%; font-size:11px; padding:5px 0 2px 0; text-indent:6px; background:#ffffff; }
#header_yellow .toppop .toppop_body a:hover.toppop_menu { background:#fde8bb; text-decoration:none; }
#header_yellow .toppop .toppop_body a { margin:0 6px 0 0; }
#header_yellow .toppop .toppop_body .toppop_line { float:left; width:100%; height:1px; background:#ced5dd; }

/* Header Right */
#header_yellow .right { width:31%; height:91px; position:absolute; right:0px; margin:0 13px 0 0; }
#header_yellow .right .search { float:right; height:63px; }
#header_yellow .right .search .inputarea { float:right; width:150px; height:25px; background:url("/images/yellow/header_icon/search.png") no-repeat; margin:4px 0 0 3px; }
#header_yellow .right .search .inputbg { float:left; width:110px; }
#header_yellow .right .search .inputbg .input { background:#ffffff; border:1px solid #ffffff; margin:2px 0 0 1px; }
#header_yellow .right .search .inputbtn { float:right; width:27px; }
#header_yellow .right .search .inputbtn a.inputbtn { display:block; width:27px; height:25px; background:url("/images/yellow/header_icon/searchbtn.png") no-repeat; margin:0; }
#header_yellow .right .search .inputbtn a:hover.inputbtn { background:url("/images/yellow/header_icon/searchbtn_on.png") no-repeat; }
#header_yellow .right .search .inputbtn a.inputbtn span { display:none; }

#header_yellow .right .searchtxt { float:right; }
#header_yellow .right .searchtxt .rt_department { float:left; font-size:11px; height:18px; color:#ffc555; padding:8px 0 0 0; }
#header_yellow .right .searchtxt .rt_department a:link    { color:#ffc555; }
#header_yellow .right .searchtxt .rt_department a:visited { color:#ffc555; }
#header_yellow .right .searchtxt .rt_department a:active  { color:#ac6e34; text-decoration:none; }
#header_yellow .right .searchtxt .rt_department a:hover   { color:#ac6e34; text-decoration:none; }
#header_yellow .right .searchtxt .rt_department_arrow { float:left; font-size:11px; height:18px; color:#ffc555; padding:8px 0 0 0; }
#header_yellow .right .searchtxt .rt_department_arrow a:link    { color:#ffc555; background:url("/images/yellow/header_icon/arrowa.png") no-repeat right; padding:0 10px 0 0; }
#header_yellow .right .searchtxt .rt_department_arrow a:visited { color:#ffc555; background:url("/images/yellow/header_icon/arrowa.png") no-repeat right; padding:0 10px 0 0; }
#header_yellow .right .searchtxt .rt_department_arrow a:active  { color:#ac6e34; text-decoration:none; background:url("/images/yellow/header_icon/arrowa_on.png") no-repeat right; padding:0 10px 0 0; }
#header_yellow .right .searchtxt .rt_department_arrow a:hover   { color:#ac6e34; text-decoration:none; background:url("/images/yellow/header_icon/arrowa_on.png") no-repeat right; padding:0 10px 0 0; }
#header_yellow .right .searchtxt .rt_name { float:left; height:18px; color:#ffc555; font-weight:bold; padding:7px 0 0 7px; }
#header_yellow .right .searchtxt .rt_name a:link    { color:#ffc555; }
#header_yellow .right .searchtxt .rt_name a:visited { color:#ffc555; }
#header_yellow .right .searchtxt .rt_name a:active  { color:#ac6e34; text-decoration:none; }
#header_yellow .right .searchtxt .rt_name a:hover   { color:#ac6e34; text-decoration:none; }
#header_yellow .right .searchtxt .rt_admin { float:left; font-size:11px; height:18px; color:#fff7ba; padding:8px 0 0 0; }
#header_yellow .right .searchtxt .rt_admin a:link    { color:#fff7ba; background:url("/images/yellow/header_icon/arrowb.png") no-repeat right; padding:0 10px 0 0; }
#header_yellow .right .searchtxt .rt_admin a:visited { color:#fff7ba; background:url("/images/yellow/header_icon/arrowb.png") no-repeat right; padding:0 10px 0 0; }
#header_yellow .right .searchtxt .rt_admin a:active  { color:#a6906e; text-decoration:none; background:url("/images/yellow/header_icon/arrowb_on.png") no-repeat right; padding:0 10px 0 0; }
#header_yellow .right .searchtxt .rt_admin a:hover   { color:#a6906e; text-decoration:none; background:url("/images/yellow/header_icon/arrowb_on.png") no-repeat right; padding:0 10px 0 0; }
#header_yellow .right .searchtxt .rt_menu { float:left; font-size:11px; height:18px; color:#fff7ba; padding:8px 0 0 0; }
#header_yellow .right .searchtxt .rt_menu a:link    { color:#fff7ba; }
#header_yellow .right .searchtxt .rt_menu a:visited { color:#fff7ba; }
#header_yellow .right .searchtxt .rt_menu a:active  { color:#a6906e; text-decoration:none; }
#header_yellow .right .searchtxt .rt_menu a:hover   { color:#a6906e; text-decoration:none; }
#header_yellow .right .searchtxt .rt_blank { float:left; width:15px; height:13px; background:url("/images/yellow/header_icon/blank.png") no-repeat; margin:7px 0 0 0; }

