@charset "utf-8";
/***************************************************************************************************
****************************************************************************************************    
* 파일명        : header.text.css 
* 설명          : (Header Text메뉴) 버전에 적용되는 css
* 완료일        : 2013.10.14 ~ 2014.01.31
* 변경자/변경일 : 
* 변경사유/내역 : 
****************************************************************************************************
****************************************************************************************************/


/*------------------------------------------------------------------------------------------------ */
/*----------------------------------------[      공 통      ]------------------------------------- */
/*------------------------------------------------------------------------------------------------ */


body, html { font:12px "dotum","arial"; color:#454545; background:#ffffff; margin:0; }
			/*scrollbar-face-color:#ffffff; 
			scrollbar-highlight-color:#d5dbe1; 
			scrollbar-3dlight-color:#f7f7f7; 
			scrollbar-shadow-color:#d5dbe1;
			scrollbar-darkshadow-color:#f7f7f7; 
			scrollbar-track-color:#f7f7f7; 
			scrollbar-arrow-color:#bfc8d2;*/ 
			
a:link    { color:#454545; text-decoration:none; }
a:visited { color:#454545; text-decoration:none; }
a:hover   { color:#454545; text-decoration:underline; }
a:active  { color:#454545; text-decoration:underline; }
dl, dt, dd { margin:0; padding:0; }
img { border:0; }
hr { display:none; }                               
form { margin:0; padding:0; }
img { border-top-width:0px; border-left-width:0px; border-bottom-width:0px; border-right-width:0px; }
hr { display:none; }
body { margin:0; padding:0; }
img { border:none; } 
a { selector-dummy:expression(this.hideFocus=true); } 
.table_w100 { width:100%; }
.table_h100 { height:100%; }

html,body { height:100%; margin:0; }


/* Header Blue----------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------*/
#header_blue { width:100%; height:95px; }
/* HeaderBg */
#header_blue .headerbg { width:100%; height:63px; }
#header_blue .headerbg .left { float:left; padding:0 0 0 10px; }
#header_blue .headerbg .right { float:right; font-size:11px; padding:0 11px 0 0; }
#header_blue .headerbg .right .mailbg { float:left; font-size:11px; padding:5px 8px 0 0; }
#header_blue .headerbg .right .mailbg .maill { float:left; width:6px; height:20px; background:url("/images/blue/header_text/maill.png"); }
#header_blue .headerbg .right .mailbg .mail { float:left; height:15px; color:#454545; background:url("/images/blue/header_text/mail.png"); padding:5px 0 0 0; }
#header_blue .headerbg .right .mailbg .mail a:link    { color:#454545; }
#header_blue .headerbg .right .mailbg .mail a:visited { color:#454545; }
#header_blue .headerbg .right .mailbg .mail a:active  { color:#90969b; text-decoration:none; }
#header_blue .headerbg .right .mailbg .mail a:hover   { color:#90969b; text-decoration:none; }
#header_blue .headerbg .right .mailbg .mail strong { color:#e23b01; }
#header_blue .headerbg .right .mailbg .mail a:hover strong { color:#e6b2a0; }
#header_blue .headerbg .right .mailbg .mailr { float:left; width:6px; height:20px; background:url("/images/blue/header_text/mailr.png"); }
#header_blue .headerbg .right .mailbg .mailblank { float:left; width:15px; height:20px; background:url("/images/blue/header_text/mailblank.png") no-repeat; }
#header_blue .headerbg .right .smenubg { float:right; font-size:11px; padding:10px 0 0 0; }
#header_blue .headerbg .right .smenubg .smenu { float:left; color:#454545; }
#header_blue .headerbg .right .smenubg .smenu a:link    { color:#454545; }
#header_blue .headerbg .right .smenubg .smenu a:visited { color:#454545; }
#header_blue .headerbg .right .smenubg .smenu a:active  { color:#90969b; text-decoration:none; }
#header_blue .headerbg .right .smenubg .smenu a:hover   { color:#90969b; text-decoration:none; }
#header_blue .headerbg .right .smenubg .sadmin { float:left; color:#454545; }
#header_blue .headerbg .right .smenubg .sadmin a:link    { color:#454545; background:url("/images/blue/header_text/arrowb.png") no-repeat right; padding:0 9px 0 0; }
#header_blue .headerbg .right .smenubg .sadmin a:visited { color:#454545; background:url("/images/blue/header_text/arrowb.png") no-repeat right; padding:0 9px 0 0; }
#header_blue .headerbg .right .smenubg .sadmin a:active  { color:#90969b; text-decoration:none; background:url("/images/blue/header_text/arrowb_on.png") no-repeat right; padding:0 9px 0 0; }
#header_blue .headerbg .right .smenubg .sadmin a:hover   { color:#90969b; text-decoration:none; background:url("/images/blue/header_text/arrowb_on.png") no-repeat right; padding:0 9px 0 0; }
#header_blue .headerbg .right .smenubg .smenublank { float:left; width:15px; height:11px; background:url("/images/blue/header_text/blank_s2.png") no-repeat; }

/* HeaderMenu */
#header_blue .headermenu { width:100%; height:29px; background:#1e4371; border-top:1px solid #0b244d; border-bottom:1px solid #0b244d; }
#header_blue .headermenu .left { float:left; width:15.6%; }
#header_blue .headermenu .left .name { float:left; height:18px; color:#bbff43; padding:9px 0 0 0; }
#header_blue .headermenu .left .name a:link    { color:#bbff43; }
#header_blue .headermenu .left .name a:visited { color:#bbff43; }
#header_blue .headermenu .left .name a:active  { color:#4d8d19; text-decoration:none; }
#header_blue .headermenu .left .name a:hover   { color:#4d8d19; text-decoration:none; }
#header_blue .headermenu .left .department { float:left; font-size:11px; height:18px; color:#bbff43; padding:10px 8px 0 10px; }
#header_blue .headermenu .left .department a:link    { color:#bbff43; }
#header_blue .headermenu .left .department a:visited { color:#bbff43; }
#header_blue .headermenu .left .department a:active  { color:#4d8d19; text-decoration:none; }
#header_blue .headermenu .left .department a:hover   { color:#4d8d19; text-decoration:none; }
#header_blue .headermenu .left .department_arrow { float:left; font-size:11px; height:18px; color:#bbff43; padding:10px 8px 0 10px; }
#header_blue .headermenu .left .department_arrow a:link    { color:#bbff43; background:url("/images/blue/header_text/arrowa.png") no-repeat right; padding:0 10px 0 0; }
#header_blue .headermenu .left .department_arrow a:visited { color:#bbff43; background:url("/images/blue/header_text/arrowa.png") no-repeat right; padding:0 10px 0 0; }
#header_blue .headermenu .left .department_arrow a:active  { color:#4d8d19; text-decoration:none; background:url("/images/blue/header_text/arrowa_on.png") no-repeat right; padding:0 10px 0 0; }
#header_blue .headermenu .left .department_arrow a:hover   { color:#4d8d19; text-decoration:none; background:url("/images/blue/header_text/arrowa_on.png") no-repeat right; padding:0 10px 0 0; }
#header_blue .headermenu .left .nameblank { float:right; width:2px; height:30px; background:url("/images/blue/header_text/blank.png") no-repeat; }

#header_blue .headermenu .right { float:right; width:84.4%; }
#header_blue .headermenu .right .bmenubg { float:left; width:66%; padding:0 0 0 12px; }
#header_blue .headermenu .right .bmenubg .bmenu { float:left; color:#ffffff; padding:9px 0 0 0; }
#header_blue .headermenu .right .bmenubg .bmenu a:link    { color:#ffffff; }
#header_blue .headermenu .right .bmenubg .bmenu a:visited { color:#ffffff; }
#header_blue .headermenu .right .bmenubg .bmenu a:active  { color:#7795b2; text-decoration:none; }
#header_blue .headermenu .right .bmenubg .bmenu a:hover   { color:#7795b2; text-decoration:none; }
#header_blue .headermenu .right .bmenubg .bmenu_on { float:left; color:#bbff43; height:20px; padding:9px 0 0 0; }
#header_blue .headermenu .right .bmenubg .bmenu_on a:link    { color:#bbff43; }
#header_blue .headermenu .right .bmenubg .bmenu_on a:visited { color:#bbff43; }
#header_blue .headermenu .right .bmenubg .bmenu_on a:active  { color:#4d8d19; text-decoration:none; }
#header_blue .headermenu .right .bmenubg .bmenu_on a:hover   { color:#4d8d19; text-decoration:none; }

#header_blue .headermenu .right .bmenubg .bmenuarrow { float:left; color:#ffffff; padding:9px 0 0 0; }
#header_blue .headermenu .right .bmenubg .bmenuarrow a:link    { color:#ffffff; background:url("/images/blue/header_text/arrowc.png") no-repeat right -2px; padding:0 20px 0 0; }
#header_blue .headermenu .right .bmenubg .bmenuarrow a:visited { color:#ffffff; background:url("/images/blue/header_text/arrowc.png") no-repeat right -2px; padding:0 20px 0 0; }
#header_blue .headermenu .right .bmenubg .bmenuarrow a:active  { color:#7795b2; text-decoration:none; background:url("/images/blue/header_text/arrowc_on.png") no-repeat right -2px; padding:0 20px 0 0; }
#header_blue .headermenu .right .bmenubg .bmenuarrow a:hover   { color:#7795b2; text-decoration:none; background:url("/images/blue/header_text/arrowc_on.png") no-repeat right -2px; padding:0 20px 0 0; }
#header_blue .headermenu .right .bmenubg .bmenuarrow_on { float:left; color:#bbff43; padding:9px 0 0 0; }
#header_blue .headermenu .right .bmenubg .bmenuarrow_on a:link    { color:#bbff43; background:url("/images/blue/header_text/arrowc.png") no-repeat right -2px; padding:0 20px 0 0; }
#header_blue .headermenu .right .bmenubg .bmenuarrow_on a:visited { color:#bbff43; background:url("/images/blue/header_text/arrowc.png") no-repeat right -2px; padding:0 20px 0 0; }
#header_blue .headermenu .right .bmenubg .bmenuarrow_on a:active  { color:#4d8d19; text-decoration:none; background:url("/images/blue/header_text/arrowc_on.png") no-repeat right -2px; padding:0 20px 0 0; }
#header_blue .headermenu .right .bmenubg .bmenuarrow_on a:hover   { color:#4d8d19; text-decoration:none; background:url("/images/blue/header_text/arrowc_on.png") no-repeat right -2px; padding:0 20px 0 0; }

#header_blue .headermenu .right .bmenubg .bmenublank { float:left; width:26px; height:32px; background:url("/images/blue/header_text/blank_s.png") no-repeat; }
#header_blue .headermenu .right .search { float:right; width:30%; padding:0 13px 0 0; }
#header_blue .headermenu .right .search .inputarea { float:right; width:150px; height:25px; background:url("/images/blue/header_text/search.png") no-repeat; margin:2px 0 0 2px; }
#header_blue .headermenu .right .search .inputbg { float:left; width:110px; }
#header_blue .headermenu .right .search .inputbg .input { background:#ffffff; border:1px solid #ffffff; margin:2px 0 0 1px; }
#header_blue .headermenu .right .search .inputbtn { float:right; width:27px; }
#header_blue .headermenu .right .search .inputbtn a.inputbtn { display:block; width:27px; height:25px; background:url("/images/blue/header_text/searchbtn.png") no-repeat; margin:0; }
#header_blue .headermenu .right .search .inputbtn a:hover.inputbtn { background:url("/images/blue/header_text/searchbtn_on.png") no-repeat; }
#header_blue .headermenu .right .search .inputbtn a.inputbtn span { display:none; }
/* HeaderPopup - 대메뉴Popup */
#header_blue .headerpop { width:100%; }
#header_blue .headerpop .bmenupop { float:left; border-left:1px solid #0b244d; border-right:1px solid #0b244d; border-bottom:1px solid #0b244d; margin:-1px 0 0 0; }
#header_blue .headerpop .bmenupop ul { list-style:none; padding:0; margin:0; }
#header_blue .headerpop .bmenupop li { padding:0; margin:0; }
#header_blue .headerpop .bmenupop .menu { float:left; width:100%; color:#ffffff; padding:6px 0 3px 0; text-indent:6px; background:#1e4371; }
#header_blue .headerpop .bmenupop a:hover.menu { color:#ffffff; background:#677e9b; text-decoration:none; }
#header_blue .headerpop .bmenupop a { margin:0 6px 0 0; }
#header_blue .headerpop .bmenupop .line { float:left; width:100%; height:1px; background:#677e9b; }
/* HeaderPopup - 소메뉴Popup */
#header_blue .headerpop_s  { width:100%; height:27px; background:#ebf1f6; border-bottom:1px solid #b0b0b0; margin:-2px 0 0 0; }
#header_blue .headerpop_s .bsmenupop { padding:0 0 0 12px; }
#header_blue .headerpop_s .bsmenupop .bsmenu { float:left; color:#454545; padding:8px 0 0 0; }
#header_blue .headerpop_s .bsmenupop .bsmenu a:link    { color:#454545; }
#header_blue .headerpop_s .bsmenupop .bsmenu a:visited { color:#454545; }
#header_blue .headerpop_s .bsmenupop .bsmenu a:active  { color:#90969b; text-decoration:none; }
#header_blue .headerpop_s .bsmenupop .bsmenu a:hover   { color:#90969b; text-decoration:none; }
#header_blue .headerpop_s .bsmenupop .bsmenu_on { float:left; color:#c90000; padding:8px 0 0 0; }
#header_blue .headerpop_s .bsmenupop .bsmenu_on a:link    { color:#c90000; }
#header_blue .headerpop_s .bsmenupop .bsmenu_on a:visited { color:#c90000; }
#header_blue .headerpop_s .bsmenupop .bsmenu_on a:active  { color:#e6b2a0; text-decoration:none; }
#header_blue .headerpop_s .bsmenupop .bsmenu_on a:hover   { color:#e6b2a0; text-decoration:none; }
#header_blue .headerpop_s .bsmenupop .bsmenublank { float:left; width:15px; height:11px; background:url("/images/blue/header_text/blank_s2.png") no-repeat; margin:9px 0 0 0; }
/* HeaderPopup - 보조메뉴Popup */
#header_blue .toppop { width:100%; }
#header_blue .toppop .toppop_arrow { width:100%; height:7px; text-align:center; }
#header_blue .toppop .toppop_body { float:left; background:#ffffff; border:1px solid #1e4371; margin:-1px 0 0 0; }
#header_blue .toppop .toppop_body ul { list-style:none; padding:0; margin:0; }
#header_blue .toppop .toppop_body li { padding:0; margin:0; }
#header_blue .toppop .toppop_body .toppop_menu { float:left; width:100%; font-size:11px; padding:5px 0 2px 0; text-indent:6px; background:#ffffff; }
#header_blue .toppop .toppop_body a:hover.toppop_menu { background:#e6f5d4; text-decoration:none; }
#header_blue .toppop .toppop_body a { margin:0 6px 0 0; }
#header_blue .toppop .toppop_body .toppop_line { float:left; width:100%; height:1px; background:#ced5dd; }





/* Header Pink----------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------*/
#header_pink { width:100%; height:95px; }
/* HeaderBg */
#header_pink .headerbg { width:100%; height:63px; }
#header_pink .headerbg .left { float:left; padding:0 0 0 10px; }
#header_pink .headerbg .right { float:right; font-size:11px; padding:0 11px 0 0; }
#header_pink .headerbg .right .mailbg { float:left; font-size:11px; padding:5px 8px 0 0; }
#header_pink .headerbg .right .mailbg .maill { float:left; width:6px; height:20px; background:url("/images/pink/header_text/maill.png"); }
#header_pink .headerbg .right .mailbg .mail { float:left; height:15px; color:#454545; background:url("/images/pink/header_text/mail.png"); padding:5px 0 0 0; }
#header_pink .headerbg .right .mailbg .mail a:link    { color:#454545; }
#header_pink .headerbg .right .mailbg .mail a:visited { color:#454545; }
#header_pink .headerbg .right .mailbg .mail a:active  { color:#90969b; text-decoration:none; }
#header_pink .headerbg .right .mailbg .mail a:hover   { color:#90969b; text-decoration:none; }
#header_pink .headerbg .right .mailbg .mail strong { color:#c90000; }
#header_pink .headerbg .right .mailbg .mail a:hover strong { color:#ab606f; }
#header_pink .headerbg .right .mailbg .mailr { float:left; width:6px; height:20px; background:url("/images/pink/header_text/mailr.png"); }
#header_pink .headerbg .right .mailbg .mailblank { float:left; width:15px; height:20px; background:url("/images/pink/header_text/mailblank.png") no-repeat; }
#header_pink .headerbg .right .smenubg { float:right; font-size:11px; padding:10px 0 0 0; }
#header_pink .headerbg .right .smenubg .smenu { float:left; color:#454545; }
#header_pink .headerbg .right .smenubg .smenu a:link    { color:#454545; }
#header_pink .headerbg .right .smenubg .smenu a:visited { color:#454545; }
#header_pink .headerbg .right .smenubg .smenu a:active  { color:#90969b; text-decoration:none; }
#header_pink .headerbg .right .smenubg .smenu a:hover   { color:#90969b; text-decoration:none; }
#header_pink .headerbg .right .smenubg .sadmin { float:left; color:#454545; }
#header_pink .headerbg .right .smenubg .sadmin a:link    { color:#454545; background:url("/images/pink/header_text/arrowb.png") no-repeat right; padding:0 9px 0 0; }
#header_pink .headerbg .right .smenubg .sadmin a:visited { color:#454545; background:url("/images/pink/header_text/arrowb.png") no-repeat right; padding:0 9px 0 0; }
#header_pink .headerbg .right .smenubg .sadmin a:active  { color:#90969b; text-decoration:none; background:url("/images/pink/header_text/arrowb_on.png") no-repeat right; padding:0 9px 0 0; }
#header_pink .headerbg .right .smenubg .sadmin a:hover   { color:#90969b; text-decoration:none; background:url("/images/pink/header_text/arrowb_on.png") no-repeat right; padding:0 9px 0 0; }
#header_pink .headerbg .right .smenubg .smenublank { float:left; width:15px; height:11px; background:url("/images/pink/header_text/blank_s2.png") no-repeat; }

/* HeaderMenu */
#header_pink .headermenu { width:100%; height:29px; background:#635964; border-top:1px solid #49404a; border-bottom:1px solid #49404a; }
#header_pink .headermenu .left { float:left; width:15.6%; }
#header_pink .headermenu .left .name { float:left; height:18px; color:#ffb0c0; padding:9px 0 0 0; }
#header_pink .headermenu .left .name a:link    { color:#ffb0c0; }
#header_pink .headermenu .left .name a:visited { color:#ffb0c0; }
#header_pink .headermenu .left .name a:active  { color:#c67c8b; text-decoration:none; }
#header_pink .headermenu .left .name a:hover   { color:#c67c8b; text-decoration:none; }
#header_pink .headermenu .left .department { float:left; font-size:11px; height:18px; color:#ffb0c0; padding:10px 8px 0 10px; }
#header_pink .headermenu .left .department a:link    { color:#ffb0c0; }
#header_pink .headermenu .left .department a:visited { color:#ffb0c0; }
#header_pink .headermenu .left .department a:active  { color:#c67c8b; text-decoration:none; }
#header_pink .headermenu .left .department a:hover   { color:#c67c8b; text-decoration:none; }
#header_pink .headermenu .left .department_arrow { float:left; font-size:11px; height:18px; color:#ffb0c0; padding:10px 8px 0 10px; }
#header_pink .headermenu .left .department_arrow a:link    { color:#ffb0c0; background:url("/images/pink/header_text/arrowa.png") no-repeat right; padding:0 10px 0 0; }
#header_pink .headermenu .left .department_arrow a:visited { color:#ffb0c0; background:url("/images/pink/header_text/arrowa.png") no-repeat right; padding:0 10px 0 0; }
#header_pink .headermenu .left .department_arrow a:active  { color:#c67c8b; text-decoration:none; background:url("/images/pink/header_text/arrowa_on.png") no-repeat right; padding:0 10px 0 0; }
#header_pink .headermenu .left .department_arrow a:hover   { color:#c67c8b; text-decoration:none; background:url("/images/pink/header_text/arrowa_on.png") no-repeat right; padding:0 10px 0 0; }
#header_pink .headermenu .left .nameblank { float:right; width:2px; height:30px; background:url("/images/pink/header_text/blank.png") no-repeat; }

#header_pink .headermenu .right { float:right; width:84.4%; }
#header_pink .headermenu .right .bmenubg { float:left; width:66%; padding:0 0 0 12px; }
#header_pink .headermenu .right .bmenubg .bmenu { float:left; color:#ffffff; padding:9px 0 0 0; }
#header_pink .headermenu .right .bmenubg .bmenu a:link    { color:#ffffff; }
#header_pink .headermenu .right .bmenubg .bmenu a:visited { color:#ffffff; }
#header_pink .headermenu .right .bmenubg .bmenu a:active  { color:#ba9a95; text-decoration:none; }
#header_pink .headermenu .right .bmenubg .bmenu a:hover   { color:#ba9a95; text-decoration:none; }
#header_pink .headermenu .right .bmenubg .bmenu_on { float:left; color:#ffb0c0; height:20px; padding:9px 0 0 0; }
#header_pink .headermenu .right .bmenubg .bmenu_on a:link    { color:#ffb0c0; }
#header_pink .headermenu .right .bmenubg .bmenu_on a:visited { color:#ffb0c0; }
#header_pink .headermenu .right .bmenubg .bmenu_on a:active  { color:#c67c8b; text-decoration:none; }
#header_pink .headermenu .right .bmenubg .bmenu_on a:hover   { color:#c67c8b; text-decoration:none; }

#header_pink .headermenu .right .bmenubg .bmenuarrow { float:left; color:#ffffff; padding:9px 0 0 0; }
#header_pink .headermenu .right .bmenubg .bmenuarrow a:link    { color:#ffffff; background:url("/images/pink/header_text/arrowc.png") no-repeat right -2px; padding:0 20px 0 0; }
#header_pink .headermenu .right .bmenubg .bmenuarrow a:visited { color:#ffffff; background:url("/images/pink/header_text/arrowc.png") no-repeat right -2px; padding:0 20px 0 0; }
#header_pink .headermenu .right .bmenubg .bmenuarrow a:active  { color:#ab606f; text-decoration:none; background:url("/images/pink/header_text/arrowc_on.png") no-repeat right -2px; padding:0 20px 0 0; }
#header_pink .headermenu .right .bmenubg .bmenuarrow a:hover   { color:#ab606f; text-decoration:none; background:url("/images/pink/header_text/arrowc_on.png") no-repeat right -2px; padding:0 20px 0 0; }
#header_pink .headermenu .right .bmenubg .bmenuarrow_on { float:left; color:#ffb0c0; padding:9px 0 0 0; }
#header_pink .headermenu .right .bmenubg .bmenuarrow_on a:link    { color:#ffb0c0; background:url("/images/pink/header_text/arrowc.png") no-repeat right -2px; padding:0 20px 0 0; }
#header_pink .headermenu .right .bmenubg .bmenuarrow_on a:visited { color:#ffb0c0; background:url("/images/pink/header_text/arrowc.png") no-repeat right -2px; padding:0 20px 0 0; }
#header_pink .headermenu .right .bmenubg .bmenuarrow_on a:active  { color:#ab606f; text-decoration:none; background:url("/images/pink/header_text/arrowc_on.png") no-repeat right -2px; padding:0 20px 0 0; }
#header_pink .headermenu .right .bmenubg .bmenuarrow_on a:hover   { color:#ab606f; text-decoration:none; background:url("/images/pink/header_text/arrowc_on.png") no-repeat right -2px; padding:0 20px 0 0; }

#header_pink .headermenu .right .bmenubg .bmenublank { float:left; width:26px; height:32px; background:url("/images/pink/header_text/blank_s.png") no-repeat; }
#header_pink .headermenu .right .search { float:right; width:30%; padding:0 13px 0 0; }
#header_pink .headermenu .right .search .inputarea { float:right; width:150px; height:25px; background:url("/images/pink/header_text/search.png") no-repeat; margin:2px 0 0 2px; }
#header_pink .headermenu .right .search .inputbg { float:left; width:110px; }
#header_pink .headermenu .right .search .inputbg .input { background:#ffffff; border:1px solid #ffffff; margin:2px 0 0 1px; }
#header_pink .headermenu .right .search .inputbtn { float:right; width:27px; }
#header_pink .headermenu .right .search .inputbtn a.inputbtn { display:block; width:27px; height:25px; background:url("/images/pink/header_text/searchbtn.png") no-repeat; margin:0; }
#header_pink .headermenu .right .search .inputbtn a:hover.inputbtn { background:url("/images/pink/header_text/searchbtn_on.png") no-repeat; }
#header_pink .headermenu .right .search .inputbtn a.inputbtn span { display:none; }
/* HeaderPopup - 대메뉴Popup */
#header_pink .headerpop { width:100%; }
#header_pink .headerpop .bmenupop { float:left; border-left:1px solid #463c47; border-right:1px solid #463c47; border-bottom:1px solid #463c47; margin:-1px 0 0 0; }
#header_pink .headerpop .bmenupop ul { list-style:none; padding:0; margin:0; }
#header_pink .headerpop .bmenupop li { padding:0; margin:0; }
#header_pink .headerpop .bmenupop .menu { float:left; width:100%; color:#ffffff; padding:6px 0 3px 0; text-indent:6px; background:#635964; }
#header_pink .headerpop .bmenupop a:hover.menu { color:#ffffff; background:#a6949e; text-decoration:none; }
#header_pink .headerpop .bmenupop a { margin:0 6px 0 0; }
#header_pink .headerpop .bmenupop .line { float:left; width:100%; height:1px; background:#a6949e; }
/* HeaderPopup - 소메뉴Popup */
#header_pink .headerpop_s  { width:100%; height:27px; background:#f0f0f0; border-bottom:1px solid #b0b0b0; margin:-2px 0 0 0; }
#header_pink .headerpop_s .bsmenupop { padding:0 0 0 12px; }
#header_pink .headerpop_s .bsmenupop .bsmenu { float:left; color:#454545; padding:8px 0 0 0; }
#header_pink .headerpop_s .bsmenupop .bsmenu a:link    { color:#454545; }
#header_pink .headerpop_s .bsmenupop .bsmenu a:visited { color:#454545; }
#header_pink .headerpop_s .bsmenupop .bsmenu a:active  { color:#90969b; text-decoration:none; }
#header_pink .headerpop_s .bsmenupop .bsmenu a:hover   { color:#90969b; text-decoration:none; }
#header_pink .headerpop_s .bsmenupop .bsmenu_on { float:left; color:#df2347; padding:8px 0 0 0; }
#header_pink .headerpop_s .bsmenupop .bsmenu_on a:link    { color:#df2347; }
#header_pink .headerpop_s .bsmenupop .bsmenu_on a:visited { color:#df2347; }
#header_pink .headerpop_s .bsmenupop .bsmenu_on a:active  { color:#e6b2a0; text-decoration:none; }
#header_pink .headerpop_s .bsmenupop .bsmenu_on a:hover   { color:#e6b2a0; text-decoration:none; }
#header_pink .headerpop_s .bsmenupop .bsmenublank { float:left; width:15px; height:11px; background:url("/images/pink/header_text/blank_s2.png") no-repeat; margin:9px 0 0 0; }
/* HeaderPopup - 보조메뉴Popup */
#header_pink .toppop { width:100%; }
#header_pink .toppop .toppop_arrow { width:100%; height:7px; text-align:center; }
#header_pink .toppop .toppop_body { float:left; background:#ffffff; border:1px solid #463c47; margin:-1px 0 0 0; }
#header_pink .toppop .toppop_body ul { list-style:none; padding:0; margin:0; }
#header_pink .toppop .toppop_body li { padding:0; margin:0; }
#header_pink .toppop .toppop_body .toppop_menu { float:left; width:100%; font-size:11px; padding:5px 0 2px 0; text-indent:6px; background:#ffffff; }
#header_pink .toppop .toppop_body a:hover.toppop_menu { background:#f9e6e2; text-decoration:none; }
#header_pink .toppop .toppop_body a { margin:0 6px 0 0; }
#header_pink .toppop .toppop_body .toppop_line { float:left; width:100%; height:1px; background:#ced5dd; }




/* Header Green---------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------*/
#header_green { width:100%; height:95px; }
/* HeaderBg */
#header_green .headerbg { width:100%; height:63px; }
#header_green .headerbg .left { float:left; padding:0 0 0 10px; }
#header_green .headerbg .right { float:right; font-size:11px; padding:0 11px 0 0; }
#header_green .headerbg .right .mailbg { float:left; font-size:11px; padding:5px 8px 0 0; }
#header_green .headerbg .right .mailbg .maill { float:left; width:6px; height:20px; background:url("/images/green/header_text/maill.png"); }
#header_green .headerbg .right .mailbg .mail { float:left; height:15px; color:#454545; background:url("/images/green/header_text/mail.png"); padding:5px 0 0 0; }
#header_green .headerbg .right .mailbg .mail a:link    { color:#454545; }
#header_green .headerbg .right .mailbg .mail a:visited { color:#454545; }
#header_green .headerbg .right .mailbg .mail a:active  { color:#90969b; text-decoration:none; }
#header_green .headerbg .right .mailbg .mail a:hover   { color:#90969b; text-decoration:none; }
#header_green .headerbg .right .mailbg .mail strong { color:#e23b01; }
#header_green .headerbg .right .mailbg .mail a:hover strong { color:#e6b2a0; }
#header_green .headerbg .right .mailbg .mailr { float:left; width:6px; height:20px; background:url("/images/green/header_text/mailr.png"); }
#header_green .headerbg .right .mailbg .mailblank { float:left; width:15px; height:20px; background:url("/images/green/header_text/mailblank.png") no-repeat; }
#header_green .headerbg .right .smenubg { float:right; font-size:11px; padding:10px 0 0 0; }
#header_green .headerbg .right .smenubg .smenu { float:left; color:#454545; }
#header_green .headerbg .right .smenubg .smenu a:link    { color:#454545; }
#header_green .headerbg .right .smenubg .smenu a:visited { color:#454545; }
#header_green .headerbg .right .smenubg .smenu a:active  { color:#90969b; text-decoration:none; }
#header_green .headerbg .right .smenubg .smenu a:hover   { color:#90969b; text-decoration:none; }
#header_green .headerbg .right .smenubg .sadmin { float:left; color:#454545; }
#header_green .headerbg .right .smenubg .sadmin a:link    { color:#454545; background:url("/images/green/header_text/arrowb.png") no-repeat right; padding:0 9px 0 0; }
#header_green .headerbg .right .smenubg .sadmin a:visited { color:#454545; background:url("/images/green/header_text/arrowb.png") no-repeat right; padding:0 9px 0 0; }
#header_green .headerbg .right .smenubg .sadmin a:active  { color:#90969b; text-decoration:none; background:url("/images/green/header_text/arrowb_on.png") no-repeat right; padding:0 9px 0 0; }
#header_green .headerbg .right .smenubg .sadmin a:hover   { color:#90969b; text-decoration:none; background:url("/images/green/header_text/arrowb_on.png") no-repeat right; padding:0 9px 0 0; }
#header_green .headerbg .right .smenubg .smenublank { float:left; width:15px; height:11px; background:url("/images/green/header_text/blank_s2.png") no-repeat; }

/* HeaderMenu */
#header_green .headermenu { width:100%; height:29px; background:#4a6457; border-top:1px solid #2e493c; border-bottom:1px solid #2e493c; }
#header_green .headermenu .left { float:left; width:15.6%; }
#header_green .headermenu .left .name { float:left; height:18px; color:#93ff99; padding:9px 0 0 0; }
#header_green .headermenu .left .name a:link    { color:#93ff99; }
#header_green .headermenu .left .name a:visited { color:#93ff99; }
#header_green .headermenu .left .name a:active  { color:#3fa845; text-decoration:none; }
#header_green .headermenu .left .name a:hover   { color:#3fa845; text-decoration:none; }
#header_green .headermenu .left .department { float:left; font-size:11px; height:18px; color:#93ff99; padding:10px 8px 0 10px; }
#header_green .headermenu .left .department a:link    { color:#93ff99; }
#header_green .headermenu .left .department a:visited { color:#93ff99; }
#header_green .headermenu .left .department a:active  { color:#3fa845; text-decoration:none; }
#header_green .headermenu .left .department a:hover   { color:#3fa845; text-decoration:none; }
#header_green .headermenu .left .department_arrow { float:left; font-size:11px; height:18px; color:#93ff99; padding:10px 8px 0 10px; }
#header_green .headermenu .left .department_arrow a:link    { color:#93ff99; background:url("/images/green/header_text/arrowa.png") no-repeat right; padding:0 10px 0 0; }
#header_green .headermenu .left .department_arrow a:visited { color:#93ff99; background:url("/images/green/header_text/arrowa.png") no-repeat right; padding:0 10px 0 0; }
#header_green .headermenu .left .department_arrow a:active  { color:#3fa845; text-decoration:none; background:url("/images/green/header_text/arrowa_on.png") no-repeat right; padding:0 10px 0 0; }
#header_green .headermenu .left .department_arrow a:hover   { color:#3fa845; text-decoration:none; background:url("/images/green/header_text/arrowa_on.png") no-repeat right; padding:0 10px 0 0; }
#header_green .headermenu .left .nameblank { float:right; width:2px; height:30px; background:url("/images/green/header_text/blank.png") no-repeat; }

#header_green .headermenu .right { float:right; width:84.4%; }
#header_green .headermenu .right .bmenubg { float:left; width:66%; padding:0 0 0 12px; }
#header_green .headermenu .right .bmenubg .bmenu { float:left; color:#ffffff; padding:9px 0 0 0; }
#header_green .headermenu .right .bmenubg .bmenu a:link    { color:#ffffff; }
#header_green .headermenu .right .bmenubg .bmenu a:visited { color:#ffffff; }
#header_green .headermenu .right .bmenubg .bmenu a:active  { color:#92ac89; text-decoration:none; }
#header_green .headermenu .right .bmenubg .bmenu a:hover   { color:#92ac89; text-decoration:none; }
#header_green .headermenu .right .bmenubg .bmenu_on { float:left; color:#93ff99; height:20px; padding:9px 0 0 0; }
#header_green .headermenu .right .bmenubg .bmenu_on a:link    { color:#93ff99; }
#header_green .headermenu .right .bmenubg .bmenu_on a:visited { color:#93ff99; }
#header_green .headermenu .right .bmenubg .bmenu_on a:active  { color:#3fa845; text-decoration:none; }
#header_green .headermenu .right .bmenubg .bmenu_on a:hover   { color:#3fa845; text-decoration:none; }

#header_green .headermenu .right .bmenubg .bmenuarrow { float:left; color:#ffffff; padding:9px 0 0 0; }
#header_green .headermenu .right .bmenubg .bmenuarrow a:link    { color:#ffffff; background:url("/images/green/header_text/arrowc.png") no-repeat right -2px; padding:0 20px 0 0; }
#header_green .headermenu .right .bmenubg .bmenuarrow a:visited { color:#ffffff; background:url("/images/green/header_text/arrowc.png") no-repeat right -2px; padding:0 20px 0 0; }
#header_green .headermenu .right .bmenubg .bmenuarrow a:active  { color:#92ac89; text-decoration:none; background:url("/images/green/header_text/arrowc_on.png") no-repeat right -2px; padding:0 20px 0 0; }
#header_green .headermenu .right .bmenubg .bmenuarrow a:hover   { color:#92ac89; text-decoration:none; background:url("/images/green/header_text/arrowc_on.png") no-repeat right -2px; padding:0 20px 0 0; }
#header_green .headermenu .right .bmenubg .bmenuarrow_on { float:left; color:#93ff99; padding:9px 0 0 0; }
#header_green .headermenu .right .bmenubg .bmenuarrow_on a:link    { color:#93ff99; background:url("/images/green/header_text/arrowc.png") no-repeat right -2px; padding:0 20px 0 0; }
#header_green .headermenu .right .bmenubg .bmenuarrow_on a:visited { color:#93ff99; background:url("/images/green/header_text/arrowc.png") no-repeat right -2px; padding:0 20px 0 0; }
#header_green .headermenu .right .bmenubg .bmenuarrow_on a:active  { color:#3fa845; text-decoration:none; background:url("/images/green/header_text/arrowc_on.png") no-repeat right -2px; padding:0 20px 0 0; }
#header_green .headermenu .right .bmenubg .bmenuarrow_on a:hover   { color:#3fa845; text-decoration:none; background:url("/images/green/header_text/arrowc_on.png") no-repeat right -2px; padding:0 20px 0 0; }

#header_green .headermenu .right .bmenubg .bmenublank { float:left; width:26px; height:32px; background:url("/images/green/header_text/blank_s.png") no-repeat; }
#header_green .headermenu .right .search { float:right; width:30%; padding:0 13px 0 0; }
#header_green .headermenu .right .search .inputarea { float:right; width:150px; height:25px; background:url("/images/green/header_text/search.png") no-repeat; margin:2px 0 0 2px; }
#header_green .headermenu .right .search .inputbg { float:left; width:110px; }
#header_green .headermenu .right .search .inputbg .input { background:#ffffff; border:1px solid #ffffff; margin:2px 0 0 1px; }
#header_green .headermenu .right .search .inputbtn { float:right; width:27px; }
#header_green .headermenu .right .search .inputbtn a.inputbtn { display:block; width:27px; height:25px; background:url("/images/green/header_text/searchbtn.png") no-repeat; margin:0; }
#header_green .headermenu .right .search .inputbtn a:hover.inputbtn { background:url("/images/green/header_text/searchbtn_on.png") no-repeat; }
#header_green .headermenu .right .search .inputbtn a.inputbtn span { display:none; }
/* HeaderPopup - 대메뉴Popup */
#header_green .headerpop { width:100%; }
#header_green .headerpop .bmenupop { float:left; border-left:1px solid #2e493c; border-right:1px solid #2e493c; border-bottom:1px solid #2e493c; margin:-1px 0 0 0; }
#header_green .headerpop .bmenupop ul { list-style:none; padding:0; margin:0; }
#header_green .headerpop .bmenupop li { padding:0; margin:0; }
#header_green .headerpop .bmenupop .menu { float:left; width:100%; color:#ffffff; padding:6px 0 3px 0; text-indent:6px; background:#4a6457; }
#header_green .headerpop .bmenupop a:hover.menu { color:#ffffff; background:#789386; text-decoration:none; }
#header_green .headerpop .bmenupop a { margin:0 6px 0 0; }
#header_green .headerpop .bmenupop .line { float:left; width:100%; height:1px; background:#789386; }
/* HeaderPopup - 소메뉴Popup */
#header_green .headerpop_s  { width:100%; height:27px; background:#f0f0f0; border-bottom:1px solid #b0b0b0; margin:-2px 0 0 0; }
#header_green .headerpop_s .bsmenupop { padding:0 0 0 12px; }
#header_green .headerpop_s .bsmenupop .bsmenu { float:left; color:#454545; padding:8px 0 0 0; }
#header_green .headerpop_s .bsmenupop .bsmenu a:link    { color:#454545; }
#header_green .headerpop_s .bsmenupop .bsmenu a:visited { color:#454545; }
#header_green .headerpop_s .bsmenupop .bsmenu a:active  { color:#90969b; text-decoration:none; }
#header_green .headerpop_s .bsmenupop .bsmenu a:hover   { color:#90969b; text-decoration:none; }
#header_green .headerpop_s .bsmenupop .bsmenu_on { float:left; color:#c90000; padding:8px 0 0 0; }
#header_green .headerpop_s .bsmenupop .bsmenu_on a:link    { color:#c90000; }
#header_green .headerpop_s .bsmenupop .bsmenu_on a:visited { color:#c90000; }
#header_green .headerpop_s .bsmenupop .bsmenu_on a:active  { color:#e6b2a0; text-decoration:none; }
#header_green .headerpop_s .bsmenupop .bsmenu_on a:hover   { color:#e6b2a0; text-decoration:none; }
#header_green .headerpop_s .bsmenupop .bsmenublank { float:left; width:15px; height:11px; background:url("/images/green/header_text/blank_s2.png") no-repeat; margin:9px 0 0 0; }
/* HeaderPopup - 보조메뉴Popup */
#header_green .toppop { width:100%; }
#header_green .toppop .toppop_arrow { width:100%; height:7px; text-align:center; }
#header_green .toppop .toppop_body { float:left; background:#ffffff; border:1px solid #2e493c; margin:-1px 0 0 0; }
#header_green .toppop .toppop_body ul { list-style:none; padding:0; margin:0; }
#header_green .toppop .toppop_body li { padding:0; margin:0; }
#header_green .toppop .toppop_body .toppop_menu { float:left; width:100%; font-size:11px; padding:5px 0 2px 0; text-indent:6px; background:#ffffff; }
#header_green .toppop .toppop_body a:hover.toppop_menu { background:#e6f5d4; text-decoration:none; }
#header_green .toppop .toppop_body a { margin:0 6px 0 0; }
#header_green .toppop .toppop_body .toppop_line { float:left; width:100%; height:1px; background:#ced5dd; }




/* Header Yellow--------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------*/
#header_yellow { width:100%; height:95px; }
/* HeaderBg */
#header_yellow .headerbg { width:100%; height:63px; }
#header_yellow .headerbg .left { float:left; padding:0 0 0 10px; }
#header_yellow .headerbg .right { float:right; font-size:11px; padding:0 11px 0 0; }
#header_yellow .headerbg .right .mailbg { float:left; font-size:11px; padding:5px 8px 0 0; }
#header_yellow .headerbg .right .mailbg .maill { float:left; width:6px; height:20px; background:url("/images/yellow/header_text/maill.png"); }
#header_yellow .headerbg .right .mailbg .mail { float:left; height:15px; color:#454545; background:url("/images/yellow/header_text/mail.png"); padding:5px 0 0 0; }
#header_yellow .headerbg .right .mailbg .mail a:link    { color:#454545; }
#header_yellow .headerbg .right .mailbg .mail a:visited { color:#454545; }
#header_yellow .headerbg .right .mailbg .mail a:active  { color:#90969b; text-decoration:none; }
#header_yellow .headerbg .right .mailbg .mail a:hover   { color:#90969b; text-decoration:none; }
#header_yellow .headerbg .right .mailbg .mail strong { color:#e23b01; }
#header_yellow .headerbg .right .mailbg .mail a:hover strong { color:#e6b2a0; }
#header_yellow .headerbg .right .mailbg .mailr { float:left; width:6px; height:20px; background:url("/images/yellow/header_text/mailr.png"); }
#header_yellow .headerbg .right .mailbg .mailblank { float:left; width:15px; height:20px; background:url("/images/yellow/header_text/mailblank.png") no-repeat; }
#header_yellow .headerbg .right .smenubg { float:right; font-size:11px; padding:10px 0 0 0; }
#header_yellow .headerbg .right .smenubg .smenu { float:left; color:#454545; }
#header_yellow .headerbg .right .smenubg .smenu a:link    { color:#454545; }
#header_yellow .headerbg .right .smenubg .smenu a:visited { color:#454545; }
#header_yellow .headerbg .right .smenubg .smenu a:active  { color:#90969b; text-decoration:none; }
#header_yellow .headerbg .right .smenubg .smenu a:hover   { color:#90969b; text-decoration:none; }
#header_yellow .headerbg .right .smenubg .sadmin { float:left; color:#454545; }
#header_yellow .headerbg .right .smenubg .sadmin a:link    { color:#454545; background:url("/images/yellow/header_text/arrowb.png") no-repeat right; padding:0 9px 0 0; }
#header_yellow .headerbg .right .smenubg .sadmin a:visited { color:#454545; background:url("/images/yellow/header_text/arrowb.png") no-repeat right; padding:0 9px 0 0; }
#header_yellow .headerbg .right .smenubg .sadmin a:active  { color:#90969b; text-decoration:none; background:url("/images/yellow/header_text/arrowb_on.png") no-repeat right; padding:0 9px 0 0; }
#header_yellow .headerbg .right .smenubg .sadmin a:hover   { color:#90969b; text-decoration:none; background:url("/images/yellow/header_text/arrowb_on.png") no-repeat right; padding:0 9px 0 0; }
#header_yellow .headerbg .right .smenubg .smenublank { float:left; width:15px; height:11px; background:url("/images/yellow/header_text/blank_s2.png") no-repeat; }

/* HeaderMenu */
#header_yellow .headermenu { width:100%; height:29px; background:#775946; border-top:1px solid #503f36; border-bottom:1px solid #503f36; }
#header_yellow .headermenu .left { float:left; width:15.6%; }
#header_yellow .headermenu .left .name { float:left; height:18px; color:#ffc555; padding:9px 0 0 0; }
#header_yellow .headermenu .left .name a:link    { color:#ffc555; }
#header_yellow .headermenu .left .name a:visited { color:#ffc555; }
#header_yellow .headermenu .left .name a:active  { color:#ac6e34; text-decoration:none; }
#header_yellow .headermenu .left .name a:hover   { color:#ac6e34; text-decoration:none; }
#header_yellow .headermenu .left .department { float:left; font-size:11px; height:18px; color:#ffc555; padding:10px 8px 0 10px; }
#header_yellow .headermenu .left .department a:link    { color:#ffc555; }
#header_yellow .headermenu .left .department a:visited { color:#ffc555; }
#header_yellow .headermenu .left .department a:active  { color:#ac6e34; text-decoration:none; }
#header_yellow .headermenu .left .department a:hover   { color:#ac6e34; text-decoration:none; }
#header_yellow .headermenu .left .department_arrow { float:left; font-size:11px; height:18px; color:#ffc555; padding:10px 8px 0 10px; }
#header_yellow .headermenu .left .department_arrow a:link    { color:#ffc555; background:url("/images/yellow/header_text/arrowa.png") no-repeat right; padding:0 10px 0 0; }
#header_yellow .headermenu .left .department_arrow a:visited { color:#ffc555; background:url("/images/yellow/header_text/arrowa.png") no-repeat right; padding:0 10px 0 0; }
#header_yellow .headermenu .left .department_arrow a:active  { color:#ac6e34; text-decoration:none; background:url("/images/yellow/header_text/arrowa_on.png") no-repeat right; padding:0 10px 0 0; }
#header_yellow .headermenu .left .department_arrow a:hover   { color:#ac6e34; text-decoration:none; background:url("/images/yellow/header_text/arrowa_on.png") no-repeat right; padding:0 10px 0 0; }
#header_yellow .headermenu .left .nameblank { float:right; width:2px; height:30px; background:url("/images/yellow/header_text/blank.png") no-repeat; }

#header_yellow .headermenu .right { float:right; width:84.4%; }
#header_yellow .headermenu .right .bmenubg { float:left; width:66%; padding:0 0 0 12px; }
#header_yellow .headermenu .right .bmenubg .bmenu { float:left; color:#ffffff; padding:9px 0 0 0; }
#header_yellow .headermenu .right .bmenubg .bmenu a:link    { color:#ffffff; }
#header_yellow .headermenu .right .bmenubg .bmenu a:visited { color:#ffffff; }
#header_yellow .headermenu .right .bmenubg .bmenu a:active  { color:#a6906e; text-decoration:none; }
#header_yellow .headermenu .right .bmenubg .bmenu a:hover   { color:#a6906e; text-decoration:none; }
#header_yellow .headermenu .right .bmenubg .bmenu_on { float:left; color:#ffc555; height:20px; padding:9px 0 0 0; }
#header_yellow .headermenu .right .bmenubg .bmenu_on a:link    { color:#ffc555; }
#header_yellow .headermenu .right .bmenubg .bmenu_on a:visited { color:#ffc555; }
#header_yellow .headermenu .right .bmenubg .bmenu_on a:active  { color:#ac6e34; text-decoration:none; }
#header_yellow .headermenu .right .bmenubg .bmenu_on a:hover   { color:#ac6e34; text-decoration:none; }

#header_yellow .headermenu .right .bmenubg .bmenuarrow { float:left; color:#ffffff; padding:9px 0 0 0; }
#header_yellow .headermenu .right .bmenubg .bmenuarrow a:link    { color:#ffffff; background:url("/images/yellow/header_text/arrowc.png") no-repeat right -2px; padding:0 20px 0 0; }
#header_yellow .headermenu .right .bmenubg .bmenuarrow a:visited { color:#ffffff; background:url("/images/yellow/header_text/arrowc.png") no-repeat right -2px; padding:0 20px 0 0; }
#header_yellow .headermenu .right .bmenubg .bmenuarrow a:active  { color:#a6906e; text-decoration:none; background:url("/images/yellow/header_text/arrowc_on.png") no-repeat right -2px; padding:0 20px 0 0; }
#header_yellow .headermenu .right .bmenubg .bmenuarrow a:hover   { color:#a6906e; text-decoration:none; background:url("/images/yellow/header_text/arrowc_on.png") no-repeat right -2px; padding:0 20px 0 0; }
#header_yellow .headermenu .right .bmenubg .bmenuarrow_on { float:left; color:#ffc555; padding:9px 0 0 0; }
#header_yellow .headermenu .right .bmenubg .bmenuarrow_on a:link    { color:#ffc555; background:url("/images/yellow/header_text/arrowc.png") no-repeat right -2px; padding:0 20px 0 0; }
#header_yellow .headermenu .right .bmenubg .bmenuarrow_on a:visited { color:#ffc555; background:url("/images/yellow/header_text/arrowc.png") no-repeat right -2px; padding:0 20px 0 0; }
#header_yellow .headermenu .right .bmenubg .bmenuarrow_on a:active  { color:#ac6e34; text-decoration:none; background:url("/images/yellow/header_text/arrowc_on.png") no-repeat right -2px; padding:0 20px 0 0; }
#header_yellow .headermenu .right .bmenubg .bmenuarrow_on a:hover   { color:#ac6e34; text-decoration:none; background:url("/images/yellow/header_text/arrowc_on.png") no-repeat right -2px; padding:0 20px 0 0; }

#header_yellow .headermenu .right .bmenubg .bmenublank { float:left; width:26px; height:32px; background:url("/images/yellow/header_text/blank_s.png") no-repeat; }
#header_yellow .headermenu .right .search { float:right; width:30%; padding:0 13px 0 0; }
#header_yellow .headermenu .right .search .inputarea { float:right; width:150px; height:25px; background:url("/images/yellow/header_text/search.png") no-repeat; margin:2px 0 0 2px; }
#header_yellow .headermenu .right .search .inputbg { float:left; width:110px; }
#header_yellow .headermenu .right .search .inputbg .input { background:#ffffff; border:1px solid #ffffff; margin:2px 0 0 1px; }
#header_yellow .headermenu .right .search .inputbtn { float:right; width:27px; }
#header_yellow .headermenu .right .search .inputbtn a.inputbtn { display:block; width:27px; height:25px; background:url("/images/yellow/header_text/searchbtn.png") no-repeat; margin:0; }
#header_yellow .headermenu .right .search .inputbtn a:hover.inputbtn { background:url("/images/yellow/header_text/searchbtn_on.png") no-repeat; }
#header_yellow .headermenu .right .search .inputbtn a.inputbtn span { display:none; }
/* HeaderPopup - 대메뉴Popup */
#header_yellow .headerpop { width:100%; }
#header_yellow .headerpop .bmenupop { float:left; border-left:1px solid #503f36; border-right:1px solid #503f36; border-bottom:1px solid #503f36; margin:-1px 0 0 0; }
#header_yellow .headerpop .bmenupop ul { list-style:none; padding:0; margin:0; }
#header_yellow .headerpop .bmenupop li { padding:0; margin:0; }
#header_yellow .headerpop .bmenupop .menu { float:left; width:100%; color:#ffffff; padding:6px 0 3px 0; text-indent:6px; background:#775946; }
#header_yellow .headerpop .bmenupop a:hover.menu { color:#ffffff; background:#967f71; text-decoration:none; }
#header_yellow .headerpop .bmenupop a { margin:0 6px 0 0; }
#header_yellow .headerpop .bmenupop .line { float:left; width:100%; height:1px; background:#967f71; }
/* HeaderPopup - 소메뉴Popup */
#header_yellow .headerpop_s  { width:100%; height:27px; background:#f0f0f0; border-bottom:1px solid #b0b0b0; margin:-2px 0 0 0; }
#header_yellow .headerpop_s .bsmenupop { padding:0 0 0 12px; }
#header_yellow .headerpop_s .bsmenupop .bsmenu { float:left; color:#454545; padding:8px 0 0 0; }
#header_yellow .headerpop_s .bsmenupop .bsmenu a:link    { color:#454545; }
#header_yellow .headerpop_s .bsmenupop .bsmenu a:visited { color:#454545; }
#header_yellow .headerpop_s .bsmenupop .bsmenu a:active  { color:#90969b; text-decoration:none; }
#header_yellow .headerpop_s .bsmenupop .bsmenu a:hover   { color:#90969b; text-decoration:none; }
#header_yellow .headerpop_s .bsmenupop .bsmenu_on { float:left; color:#c90000; padding:8px 0 0 0; }
#header_yellow .headerpop_s .bsmenupop .bsmenu_on a:link    { color:#c90000; }
#header_yellow .headerpop_s .bsmenupop .bsmenu_on a:visited { color:#c90000; }
#header_yellow .headerpop_s .bsmenupop .bsmenu_on a:active  { color:#e6b2a0; text-decoration:none; }
#header_yellow .headerpop_s .bsmenupop .bsmenu_on a:hover   { color:#e6b2a0; text-decoration:none; }
#header_yellow .headerpop_s .bsmenupop .bsmenublank { float:left; width:15px; height:11px; background:url("/images/yellow/header_text/blank_s2.png") no-repeat; margin:9px 0 0 0; }
/* HeaderPopup - 보조메뉴Popup */
#header_yellow .toppop { width:100%; }
#header_yellow .toppop .toppop_arrow { width:100%; height:7px; text-align:center; }
#header_yellow .toppop .toppop_body { float:left; background:#ffffff; border:1px solid #503f36; margin:-1px 0 0 0; }
#header_yellow .toppop .toppop_body ul { list-style:none; padding:0; margin:0; }
#header_yellow .toppop .toppop_body li { padding:0; margin:0; }
#header_yellow .toppop .toppop_body .toppop_menu { float:left; width:100%; font-size:11px; padding:5px 0 2px 0; text-indent:6px; background:#ffffff; }
#header_yellow .toppop .toppop_body a:hover.toppop_menu { background:#fde8bb; text-decoration:none; }
#header_yellow .toppop .toppop_body a { margin:0 6px 0 0; }
#header_yellow .toppop .toppop_body .toppop_line { float:left; width:100%; height:1px; background:#ced5dd; }







