@charset "utf-8";

.fileUploadArea{margin: 5px 5px 5px 5px;text-align:initial;}
.upldr {
    border: 1px solid #ccc;    
}
.upldr .file_select {
    width: 25px;
    left: 0;
    border-left: 0!important;
	vertical-align:top;
	margin-top:2px;
}
.upldr .file_select input {
    vertical-align: top;
    margin-top: 2px;
    width: 12px;
    height: 12px;
}
.upldr .file_name {
    position: static;
    display: block;
    padding-left: 5px;
	top: 4px;
}
.upldr .status {
    width: 150px;
    right: 80px;
	top: 4px;
}
.upldr .file_size {
    width: 78px;
    right: 0px;
	top: 4px;
}
.upload_list li, .upload_header {
    position: relative;
    border-bottom: 1px solid #ccc;
    line-height: 17px;
    height: 22px;
    padding: 0 50px 0 22px;
    overflow: hidden; 
}
.upload_header{background:#ebf1f6;}
.upldr .file_name, .upldr .file_select, .upldr .file_size, .upldr .status {
    display: inline-block;
    border-left: 1px solid #d6d6d6;
    vertical-align: top;
    position: absolute;    
    text-align: center;
    font-size: 12px; 
    padding-right: 16px;
}
.upload_list .file_name, .upload_list .file_select, .upload_list .file_size, .upload_list .status {
    border-left: 0;
    background: 0 0;
    color: #000;
    padding-right: 0;
}
.upload_list {
    padding-top: 2px;
    overflow-y: scroll;
}
.upload_list ul{ 
    list-style: none;
    margin: 0;
    padding: 0px;
}
.upload_list li {
    height: 20px;
    line-height: 18px;
    background: 0 0;
    border-bottom: 0;
}
.status.progress {border: 1px solid rgb(191, 200, 210); border-image: none; background-color: rgb(255, 255, 255);text-align:left;}
.dragArea {
    text-align: center;
    /* line-height: 65px; */
    color: #999;
}
.dragArea .drag_icon {
    width: 21px;
    height: 23px;
    display: inline-block;
}
.file_name .file_icon.file{background-image: url(/images/cm/ico_file.png);}
.file_name .file_icon.zip{background-image: url(/images/cm/ico_zip.png);}
.file_name .file_icon.egg{background-image: url(/images/cm/ico_egg.png);}
.file_name .file_icon.pptx{background-image: url(/images/cm/ico_pptx.png);}
.file_name .file_icon.ppt{background-image: url(/images/cm/ico_ppt.png);}
.file_name .file_icon.doc{background-image: url(/images/cm/ico_doc.png);}
.file_name .file_icon.xls{background-image: url(/images/cm/ico_xls.png);}
.file_name .file_icon.xlsx{background-image: url(/images/cm/ico_xlsx.png);}
.file_name .file_icon.pdf{background-image: url(/images/cm/ico_pdf.png);}
.file_name .file_icon.psd{background-image: url(/images/cm/ico_psd.png);}
.file_name .file_icon.bmp{background-image: url(/images/cm/ico_bmp.png);}
.file_name .file_icon.png{background-image: url(/images/cm/ico_png.png);}
.file_name .file_icon.jpg{background-image: url(/images/cm/ico_jpg.png);}
.file_name .file_icon.gif{background-image: url(/images/cm/ico_gif.png);}
.file_name .file_icon.html{background-image: url(/images/cm/ico_html.png);}
.file_name .file_icon.txt{background-image: url(/images/cm/ico_txt.png);}

.file_name .file_icon {
    width: 22px;
    height: 16px;
    display: inline-block;
    vertical-align: top;
    background: url(/images/cm/ico_file.png) no-repeat;
}

#docAttchFileArea span.file_name {text-align:left;max-width:195px;white-Space:nowrap; text-overflow:ellipsis; overflow:hidden;}
#progressArea span.file_name{text-align:left;max-width:295px;white-Space:nowrap; text-overflow:ellipsis; overflow:hidden;}